.popup {
  width: 270px;
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: none;
  z-index: 2000; 
  background-color: white;
  border: 1px solid @gray-20;

  .respond-to-max( @bp-xs-max, {
    margin-left:-135px; 
    left: 50%;
  });
  
  .respond-to-min( @bp-sm-min, {
    width: 555px;
  });
  
  &__visible {
    display: block;
  }
  
  &_header {
    margin: 0 15px;
    height: 40px;

    .respond-to-min( @bp-sm-min, {
      margin: 0 15px 0 30px;
      height:26px;
    });
    
    .close {
      position: absolute;
      top: 10px;
      right: 15px;
      cursor: pointer;
    }
  }
  
  &_body {
    margin: 0 15px;

    h2 {
      .h4();
    }

    .o-email-signup {
      width: 100% !important;
    }
    
    input[type="email"] {
      width: 100%;
      margin-bottom: 1em;
    }
    
    .respond-to-max( @bp-xs-max, {
      background: none;
      .m-form-field-with-button .btn {
        width: 100%;
      }
    });
    
    .respond-to-min( @bp-sm-min, {

      margin: 0 30px;
      padding-right:155px;
      background: url("../img/modal-house.png") no-repeat right 20px;
      background-size: 130px;

      h2 {
        .h3();
      }

      .m-form-field-with-button {
        p {
          float: right;
          position: relative; 
          top: .7em;
        }
        .btn {
          float: left;
        }
      }
    });
  }
  
  &_footer {
    display: table;
    width: 100%;
    margin-top: 30px;

    .respond-to-min( @bp-sm-min, {
      margin-top: 15px;
      min-height: 15px;
    });

    .m-notification {
      width: 100%; 
      text-align: left; 
      vertical-align: middle;
      padding: .25em 1em;
      border-width: 0;


      &__visible {
        display: table-cell;
        padding: 0 10px;
      }
      
      &_icon {
        top: 11px;
      }
      
      &_content {
        font-family: "AvenirNextLTW01-Medium",Arial,sans-serif;
        font-weight:500;
        text-align: left;
        padding-left: 1.5em;
      }
    }
  }
}


