.form-resources {

    .webfont-regular();

    .content_wrapper {
        margin-right: auto;
        margin-left: auto;
    }

    .content_main {
        .respond-to-min(@tablet-min, {
            padding-top: unit(@grid_gutter-width * 1.5, px);
            padding-bottom: @grid_gutter-width;
        });
    }

    /*  This code for the hero was copied from and then modified:
        https://github.com/cfpb/cfgov-refresh/blob/04de1f7b99999c73f412346a272664f24ed1e9c5/src/static/css/misc.less
    */

    .hero {
        background: #ccdfdf;
        padding: 0;

        // over-ride OaH hero
        p {
            text-transform: none;
            text-align: left;
            color: @darkgray;
        }

        &_wrapper {
            .wrapper();
            margin-right: auto;
            margin-left: auto;
            padding: 0;
        }

        &_card {
            //.grid_column(12);
        }

        &_preview {
            background: @white;
            background: fade(@white, 90%);
            padding: 15px;

            h1 {
              .h2();
            }

            footer {
                p {
                    margin-bottom: 0;
                }
            }
        }

        .respond-to-max(660px, {

            .hero_img {
                height: 180px;
                background-repeat: no-repeat;
                background-position: center center; //wrapper has 15px left padding
            }

        });

        .respond-to-min(661px, {
            //padding: 40px 0 0 0;
            padding-top: unit(15px / @base-font-size-px, em);

            &_wrapper {
                background-repeat: no-repeat;
                background-position: 15px 0; //wrapper has 15px left padding, so move the image right to compensate
            }

            &_card {
                .grid_push(6);
                .grid_column(6);
                a& {
                    border-color: transparent;
                }
            }

            &_preview {
                padding: @grid_gutter-width;
                margin-top: unit(15px / @base-font-size-px, em);
            }

        });

        .respond-to-min(992px, {
            &_card {
                .grid_push(8);
                .grid_column(4);
            }
        });
    }


    .hero__mortage-closing {

        .respond-to-max(660px, {
            .hero_img {
                background-image:url('../img/form-resources_mortgage-closing-hero-small.png');
                background-size: 320px 170px;
            }
        });

        .respond-to-min(661px, {
            .hero_wrapper {
                background-image:url('../img/form-resources_mortgage-closing-hero-medium.png');
                background-size: 400px 260px;
            }
        });

        .respond-to-min(992px, {
            .hero_wrapper {
                background-image:url('../img/form-resources_mortgage-closing-hero-large.png');
                background-size: 730px 372px;
              }
        });

    }

    .hero__mortage-estimate {

        .respond-to-max(660px, {
            .hero_img {
                background-image:url('../img/form-resources_mortgage-estimate-hero-small.png');
                background-size: 320px 170px;
            }
        });

        .respond-to-min(661px, {
            .hero_wrapper {
                background-image:url('../img/form-resources_mortgage-estimate-hero-medium.png');
                background-size: 400px 310px;
            }
        });

        .respond-to-min(992px, {
            .hero_wrapper {
                background-image:url('../img/form-resources_mortgage-estimate-hero-large.png');
                background-size: 730px 425px;
              }
        });

    }

    /* Capital Framework styles from the Journey process.less */

    /* temp. workaround for .block-link border-color issue */
     a.jump-link,
     a.list_link {
       border-color: @link-underline;
       
       &:visited {
         border-color: @link-underline-visited;
       }
       
       &:hover {
         border-color: @link-underline-hover;
         z-index: 10;
       }

       &:active{
         border-color: @link-underline-active;
       }
     }

    /* Borrowed from flapjack.*/


    ul.list__unstyled > li {
      .list__unstyled();
    }

    .list__links {
      .list__unstyled();


      .list_item {
        margin-bottom: unit(10x / @base-font-size-px, em);

        .respond-to-max(@mobile-max, {
          margin-bottom: -1px;
        });
      }

      &.list__spaced .list_item + .list_item {
        margin-top: 0;
      }

      .list_link {
        .respond-to-max(@mobile-max, {
          .block-link();
          border-color: @link-underline;

           &:visited {
             border-color: @link-underline-visited;
           }

           &:hover {
             border-color: @link-underline-hover;
             z-index: 10;
           }

           &:active{
             border-color: @link-underline-active;
           }

          &.icon-link:after {
            position: absolute;
            margin-bottom: -0.625em;
            right: 0;
            bottom: 50%;
            text-align: right;
          }

          .icon-link_text {
            border-bottom-width: 0;
          }
        });
      }

      &.list__icons {
        .list_link {
          position: relative;
          left: -0.125em; // adjust for optical alignment of icons
        }

        .icon-link:before,
        .icon-link:after {
          width: 1.125em;
          text-align: center;
        }
      }
    }

    /* temp. workaround for .block-link border-color issue */
    a.jump-link,
    a.list_link {
     border-color: @link-underline;
     
     &:visited {
       border-color: @link-underline-visited;
     }
     
     &:hover {
       border-color: @link-underline-hover;
       z-index: 10;
     }

     &:active{
       border-color: @link-underline-active;
     }
    }



} //.form-resources