.form-resources {

    .webfont-regular();

    .content_main {
      .respond-to-min(@tablet-min, {
        padding-top: @grid_gutter-width;
        padding-bottom: @grid_gutter-width;
      });
    }

    /*  This code was copied from and then modified:
        https://github.com/cfpb/cfgov-refresh/blob/04de1f7b99999c73f412346a272664f24ed1e9c5/src/static/css/misc.less
    */

    .hero {
        background: #ccdfdf;
        padding: 40px 0 0 0;

        // over-ride OaH hero
        p {
          text-transform: none;
          text-align: left;
        }

        &_wrapper {
            .wrapper();
            background-repeat: no-repeat;
            background-position: 15px 0; //wrapper has 15px left padding
        }

        &_preview {
            background: @white;
            background: fade(@white, 90%);
            padding: @grid_gutter-width;

            h1 {
              .h2();
            }

            footer {
              p {
                margin-bottom: 0;
              }
            }

        }

        .respond-to-min(660px, {
            padding-top: unit(30px / @base-font-size-px, em);
            &_wrapper {
                position: relative;
                z-index: 2;
            }
            &_card {
                .grid_push(6);
                .grid_column(6);
                a& {
                    border-color: transparent;
                }
            }
        });

        .respond-to-min(1024px, {
            &_card {
                .grid_push(8);
                .grid_column(4);
            }
        });
    }


    .hero__mortage-closing {

        .hero_wrapper {
            background-image:url('/static/img/form-resources_mortage-closing-hero-small.png');
        }

        .respond-to-min(660px, {
            .hero_wrapper {
                background-image:url('/static/img/form-resources_mortage-closing-hero-medium.png');
            }
        });

        .respond-to-min(1024px, {
            .hero_wrapper {
                background-image:url('/static/img/form-resources_mortage-closing-hero-large.png');
              }
        });

    }

    .hero__mortage-estimate {

        .hero_wrapper {
            background-image:url('/static/img/form-resources_mortage-estimate-hero-small.png');
        }

        .respond-to-min(660px, {
            .hero_wrapper {
                background-image:url('/static/img/form-resources_mortage-estimate-hero-medium.png');
            }
        });

        .respond-to-min(1024px, {
            .hero_wrapper {
                background-image:url('/static/img/form-resources_mortage-estimate-hero-large.png');
              }
        });

    }


} //.form-resources
