.cf-icon {
  font-family: 'CFPB Minicons';
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.reset {
  margin: 0;
  padding: 0;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hidden {
  display: none !important;
}

/* typography mixins */

.allcaps-demi {
  .webfont-demi();
  font-size: 0.75em;
  text-transform: uppercase;
}

/*
 * media query mixins
 * ==================
 * based on https://github.com/cfpb/cf-core/blob/gh-pages/src/cf-media-queries.less
 * todo: move to cf-core
*/

.respond-to-min(@bp, @rules) {
    @ems: unit((@bp / @base-font-size-px), em);
    @media only all and (min-width: @ems) {
        @rules();
    }
}

.respond-to-max(@bp, @rules) {
    @ems: unit((@bp / @base-font-size-px), em);
    @media only all and (max-width: @ems) {
        @rules();
    }
}

.respond-to-range(@bp1, @bp2, @rules) {
    @ems1: unit((@bp1 / @base-font-size-px), em);
    @ems2: unit((@bp2 / @base-font-size-px), em);
    @media only all and (min-width: @ems1) and (max-width: @ems2) {
        @rules();
    }
}

/*
 * link color mixins
 * ==================
 * based on https://github.com/cfpb/cf-core/blob/gh-pages/src/cf-utilities.less
 * todo: move to cf-core
*/

.u-link__colors() {
    .u-link__colors-base();
}

.u-link__colors(@c) {
    .u-link__colors-base(@c, @c, @c, @c, @c,
                         @c, @c, @c, @c, @c);
}

.u-link__colors(@c, @h) {
    .u-link__colors-base(@c, @c, @h, @h, @c,
                         @c, @c, @h, @h, @c);
}

.u-link__colors(@c, @v, @h, @f, @a) {
    .u-link__colors-base(@c, @v, @h, @f, @a,
                         @c, @v, @h, @f, @a);
}

.u-link__colors(@c, @v, @h, @f, @a,
                @bc, @bv, @bh, @bf, @ba) {
    .u-link__colors-base(@c, @v, @h, @f, @a,
                         @bc, @bv, @bh, @bf, @ba);
}

.u-link__colors-base(@c:@pacific, @v:@teal, @h:@pacific-50, @f:@pacific, @a:@navy,
                     @bc:@pacific, @bv:@teal, @bh:@pacific-50, @bf:@pacific, @ba:@navy) {
    color: @c;
    border-color: @bc;

    &:visited,
    &.visited {
        border-color: @bv;
        color: @v;
    }

    &:hover,
    &.hover {
        border-color: @bh;
        color: @h;
    }

    &:focus,
    &.focus {
        border-color: @bf;
        color: @f;
    }

    &:active,
    &.active {
        border-color: @ba;
        color: @a;
    }
}

.u-link-child__hover(@c: @pacific-50) {
    a:hover &,
    a.hover &,
    a:focus &,
    a.focus & {
        color: @c;
    }
}

.u-link__border() {
    border-bottom-width: 1px;

    &:hover,
    &.hover {
        border-bottom-width: 1px;
    }
}

.u-link__no-border() {
    border-bottom-width: 0 !important;
}

.u-link__hover-border() {
    border-bottom-width: 0 !important;

    &:hover,
    &.hover,
    &:focus,
    &.focus {
        border-bottom-width: 1px !important;
    }
}
