/* ==========================================================================
   "Home buyer's preparation worksheets" custom styles
   ========================================================================== */

/* Preparation worksheet specific styles */

// Width of right-hand worksheet column (priority, likely-ness, etc).
@right-col-width: 202px;

// Colors
@btn-grade-disabled-color: @gray-80;
@btn-grade-unselected-color: @gray-50;
@btn-grade-selected-color: @darkgray;
@btn-grade-hover-color: @gray;

@btn-grade-disabled-text-color: @white;
@btn-grade-unselected-text-color: @darkgray;
@btn-grade-selected-text-color: @white;
@btn-grade-hover-text-color: @white;

@btn-delete-color: @gray;
@btn-delete-hover-color: @gray-20;

// Inputs with buttons for goals, risks, and red flags.

.input-with-btns {
  display: block;
  clear: both;
  margin-bottom: 10px;
}

.input-with-btns_input {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  padding-right: 10px;
  .respond-to-min(750px, {
    margin-bottom: 10px;
    float: left;
    width: 68%;
  });
  .respond-to-min(801px, {
    width: 60%;
  });
  .respond-to-min(960px, {
    width: 68%;
  });
  .respond-to-min(1000px, {
    width: 70%;
  });
  .respond-to-min(1100px, {
    width: 71%;
  });
}

.input-with-btns_input input {
  width: 100%;
}

.input-with-btns_btns {
  // Set the width of the right column so it doesn't re-size
  // as the button webfont text and icons load.
  .respond-to-min(750px, {
    width: @right-col-width;
    float: right;
  });
  label h6 {
    // display: inline-block;
    .respond-to-min(750px, {
      .u-visually-hidden();
    });
  }
}

// Preparation worksheets goals, risks, red flag icon colors.
.prepare-worksheet .cf-icon-approved-round {
  color: @green;
}

.prepare-worksheet .cf-icon-complaint-round {
  color: @redorange;
}

.prepare-worksheet .cf-icon-error-round {
  color: @gold;
}

// Inputs with buttons for goals, risks, and red flags.
// The color settings override CF colors.

.worksheet-left-col-header {
  float: left;
  .respond-to-min(750px, {
    width: 68%;
  });
  .respond-to-min(801px, {
    width: 60%;
  });
  .respond-to-min(960px, {
    width: 68%;
  });
  .respond-to-min(1000px, {
    width: 70%;
  });
  .respond-to-min(1100px, {
    width: 71%;
  });
}

// Right-hand column of the worksheets (priority, likely-ness, etc).
.worksheet-right-col-header {
  display: none;
  .respond-to-min(750px, {
    display: block;
    .u-right();
    width: @right-col-width;
  });
}

// Individual graded input settings.

.input-graded .content_bar {
  border-top: 1px solid @gray-50;
  background: @gray-5;
}

.input-graded.active .content_bar {
  border-top: 1px solid @gray-50;
  background: @gray-20;
}

.input-graded .btn {
  background: @btn-grade-disabled-color;
  color: @btn-grade-disabled-text-color;
}

.input-graded.active .btn {
  background: @btn-grade-unselected-color;
  color: @btn-grade-unselected-text-color;
}

.input-graded .btn:hover {
  background: @btn-grade-hover-color;
  color: @btn-grade-hover-text-color;
}

.input-graded .btn.active {
  background: @btn-grade-selected-color;
  color: @btn-grade-selected-text-color;
}

.input-graded .btn-input-delete {
  color: @btn-delete-color;
  vertical-align: top;
  cursor: pointer;
}

.input-graded .btn-input-delete:hover {
  color: @btn-delete-hover-color;
}

// Color overrides for content dividers on summary page.
.worksheet-flags .subheading,
.worksheet-flags-summary .subheading {
  border-bottom-color: @redorange;
}

.worksheet-risks .subheading,
.worksheet-risks-summary .subheading {
  border-bottom-color: @gold;
}

/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
  .nemo,
  aside.content_sidebar,
  .type-details nav {
    display: none !important;
  }
}