/* ==========================================================================
   "Rate checker" custom styles
   ========================================================================== */

.rate-checker {
    .webfont-regular();
}


/*
    Sidebar with all the user input
    --------------------------- */

.calculator {
    label {
        text-transform: uppercase;
    }

    .credit-score {

    }

    section {
        padding: 20px;
        background: @gray-10;
    }
}


/*
    Main section with output
    --------------------------- */

.result {

}


/*
    Middle section with chart
    --------------------------- */

.chart {

}


/*
    "Compare interest rate costs"
    --------------------------- */
.compare {
    label {
        .visuallyhidden;
    }
}