.rate-checker {
    .webfont-regular();
}

.calculator {

    label {
        text-transform: uppercase;
    }

    .credit-score {

    }

    section {
        padding: 20px;
        background: @gray-10;
    }

}
