/* Headings
--------------------------- */

.subhead {
  font-size: .875em;
  .webfont-regular();
  margin-bottom: 10px;
}

.subhead-em {
  font-style: normal;
  text-transform: uppercase;
}

.subheading {
  .webfont-demi();
  font-size: 1em;
  text-transform: uppercase;
  border-bottom: 4px solid #AED690;
}

.h5 {
  .webfont-demi();
  font-size: 0.75em;
  text-transform: uppercase;
  border-bottom: 1px solid @gray-20;
}

.callout-heading {
  .webfont-demi();
  font-size: 0.875em;
  text-transform: uppercase;
}

.callout-mid-heading {
  .webfont-medium();
  font-size: 1.125em;
  margin-bottom: 10px;
  margin-top: 32px;
}
