{% extends "base.html" %}
{% set active_page = "loan-comparison" %}
{% set subnav = false %}

{% block title %}Owning a Home: Loan Comparison{% endblock title %}

{% block content %}

<div class="loan-comparison {% if subnav %}col-9{% endif %}" role="main">

<section class="wrap page-intro">
    <div class="wrapper">
      <div class="col-12 oah-title-tag">
        <h1 class="oah-title">Owning a Home <sup class="beta">BETA</sup></h1>
      </div>

      <div class="col-8">

        <h2 class="page-title">What loan package is right for you?</h2>

        <p class="lead">What goes into a loan package? How do different parts of my loan package affect my total cost over time? How do I make a decision? A description of the tool that explains what it does and why a consumer would want to use it. Compare! Compare! Compare!</p>

        <p><a href="rate-checker.html" class="go-link">Check out the Rate Checker</a></p>

      </div>
      <div class="intro-img col-4">
        img placeholder
      </div>
    </div> <!--/.wrapper -->
  </section> <!-- /.page-intro -->

  <section class="comparisons">
      <div class="mobile-comparison-overviews wrap">
        <div class="wrapper">
          <div class="mobile-overview">
            <h3 class="comparison-header">Loan A</h3>
            <h4>Loan Amount</h4>
            <p class="loan-amount-display">$180,000</p>

            <h4>Loan Type</h4>
            <p>30 year fixed conventional</p>

            <h4>Points or Credits</h4>
            <p>n/a</p>

            <h4>Interest Rate</h4>
            <p> <span class="interest-rate-display">3.25</span>%</p>

            <a href='#lc-input-a' class="lc-edit-link lc-toggle">Edit <span class="cf-icon cf-icon-edit"></span></a>

          </div> <!-- /.mobile-overview -->

          <div class="mobile-overview loan-b inactive">
            <h3 class="comparison-header">Loan B</h3>
            <div class="mobile-add-btn">
              <p>Compare loans to better understand your options.</p>
              <a class="btn btn-secondary">Add another loan</a>
            </div> <!-- /.mobile-add-btn -->
            <!--<h4>Loan Amount</h4>
            <p class="loan-amount-display">$180,000</p>

            <h4>Loan Type</h4>
            <p>30 year fixed conventional</p>

            <h4>Points or Credits</h4>
            <p>n/a</p>

            <h4>Interest Rate</h4>
            <p> <span class="interest-rate-display">3.25</span>%</p>

            <a href='#lc-input-a' class="lc-edit-link lc-toggle">Edit <span class="cf-icon cf-icon-edit"></span></a> -->

          </div> <!-- /.mobile-overview -->
        </div> <!-- /.wrapper -->
      </div> <!-- /.comparison-lead -->

      <div class="wrap">
        <ul class="input-headers" aria-hidden="true">
          <li><h3>Compare loan costs</h3></li>
          <li><h3>Loan A</h3></li>
          <li><h3>Loan B</h3></li>
          <li><h3>Loan C</h3></li>
        </ul>
      </div>

      <div class="lc-inputs">
        <div class="wrap">
          <section id="lc-input-a" class="lc-input comparison-input-column-1 wrapper">
            <a href="#lc-input-a" class="lc-save-link lc-toggle first-save"><span class="cf-icon cf-icon-save"></span> Save inputs</a>
            <h3 class="visuallyhidden">Loan A</h3>
            <div class="input-subsection">
              <label for="location" class="label-float">State</label>
              <div class="input-wrap"> <!-- use with columns with floated labels -->
                <div class="select-content">
                  <select name="location" class="recalc" id="location" cf-objectify="location">
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AK">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                  </select>
                </div> <!-- /.select-content -->
              </div> <!-- /.input-wrap -->

                <label for="credit-score-select" class="label-float">Credit Score</label>
                <div class="input-wrap"> <!-- use with columns with floated labels -->
                  <div class="select-content">
                    <select name="credit-score-select" class="recalc" id="credit-score-select" cf-objectify="credit-score">
                      <option value="600">600 - 620</option>
                      <option value="620">621 - 640</option>
                      <option value="640">641 - 660</option>
                      <option value="660">661 - 680</option>
                      <option value="680">681 - 700</option>
                      <option value="700">701 - 720</option>
                      <option value="720">721 - 740</option>
                      <option value="740">741 - 760</option>
                      <option value="760">761 - 780</option>
                      <option value="780">781 - 800</option>
                      <option value="800">801 - 820</option>
                      <option value="820">821 - 840</option>
                      <option value="840">841+</option>
                    </select>
                  </div> <!-- /.select-content -->
                </div> <!-- /.input-wrap -->
              </div> <!-- /.input-subsection -->

              <div class="input-subsection pricing">
                <div class="calc-content">
                  <h5 class="lc-subhead label-float">Loan amount</h5>
                  <div class="input-wrap"> <!-- use with columns with floated labels -->
                    <span class="loan-amount-display">$180,000</span>
                  </div> <!-- /.input-wrap -->
                </div> <!-- ./calc-content-->

                <div class="input-content">
                  <label for="house-price-input" class="label-float">House price</label>
                  <div class="input-wrap"> <!-- use with columns with floated labels -->
                    <input type="text" placeholder="$200,000" name="house-price-input" id="house-price-input" class="recalc" cf-objectify="house-price">
                  </div> <!-- /.input-wrap -->
                </div> <!-- ./input-content-->

                <div class="input-content">
                  <label for="percent-down-input" class="label-float">Down payment <span class="visuallyhidden">Percentage</span></label>
                  <div class="input-wrap"> <!-- use with columns with floated labels -->
                    <div class="percent-input small-input">
                      <span class="unit">%</span>
                      <input type="text" placeholder="10" maxlength="2" name="percent-down-input" id="percent-down-input" class="recalc" cf-objectify="percent-down">
                    </div>
                    <label for="down-payment-input" class="visuallyhidden">Down payment amount</label>
                    <div class="mid-input">
                      <input type="text" placeholder="$20,000" name="down-payment-input" id="down-payment-input" class="recalc" cf-objectify="down-payment">
                    </div>
                  </div><!-- /.input-wrap -->
                </div> <!-- ./input-content-->
              </div> <!-- /.input-subsection -->

              <div class="input-subsection">
                <div class="calc-content">
                  <h5 class="lc-subhead label-float">Loan option</h5>
                   <div class="input-wrap"> <!-- use with columns with floated labels -->
                    <span id="lc-summary-year">30</span>-year <span id="lc-summary-structure">fixed</span> <span id="lc-summary-type">conventional</span></span>
                  </div> <!-- /.input-wrap -->
                </div> <!-- ./calc-content-->

                <label for="rate-structure-select" class="label-float">Rate structure</label>
                <div class="input-wrap"> <!-- use with columns with floated labels -->
                  <div class="select-content">
                    <select name="rate-structure-select" class="recalc" id="rate-structure-select" cf-objectify="rate-structure">
                      <option value="fixed">Fixed</option>
                      <option value="ARM">Adjustable</option>
                    </select>
                  </div> <!-- /.select-content -->
                </div><!-- /.input-wrap -->

                <label for="loan-term-select" class="label-float">Loan term</label>
                <div class="input-wrap"> <!-- use with columns with floated labels -->
                  <div class="select-content">
                    <select name="loan-term-select" class="recalc" id="loan-term-select" cf-objectify="loan-term">
                      <option value="30">30 years</option>
                      <option value="15">15 years</option>
                    </select>
                  </div> <!-- /.select-content -->
                </div><!-- /.input-wrap -->

                <label for="loan-type-select" class="label-float">Loan type</label>
                <div class="input-wrap"> <!-- use with columns with floated labels -->
                  <div class="select-content">
                    <select name="loan-type-select" class="recalc" id="loan-type-select" cf-objectify="loan-type">
                      <option value="conf">Conventional</option>
                      <option value="fha">FHA</option>
                      <option value="va">VA</option>
                    </select>
                  </div> <!-- /.select-content -->
                </div><!-- /.input-wrap -->
              </div> <!-- /.input-subsection -->

              <div class="input-subsection">
                <label for="arm-type-select" class="label-float">ARM type</label>
                <div class="input-wrap"> <!-- use with columns with floated labels -->
                  <div class="select-content">
                    <select name="arm-type-select" class="recalc" id="arm-type-select" cf-objectify="arm-type">
                      <option value="3/1">3/1</option>
                      <option value="5/1">5/1</option>
                      <option value="7/1">7/1</option>
                      <option value="10/1">10/1</option>
                    </select>
                  </div> <!-- /.select-content -->
                </div><!-- /.input-wrap -->

                <div >
                  <fieldset class="input-content">
                    <label class="label-float">Discount point <br/>and credits</label>
                    <div class="input-wrap"> <!-- use with columns with floated labels -->
                      <div class="inline-radio">
                        <input type="radio" name="discount" id="discount-negative-two" value="-2" />
                        <label for="discount-negative-two">-2</label>
                      </div>
                      <div class="inline-radio">
                        <input type="radio" name="discount" id="discount-negative-one" value="-1" />
                        <label for="discount-negative-one">-1</label>
                      </div>
                      <div class="inline-radio">
                        <input type="radio" name="discount" id="discount-zero" value="0" />
                        <label for="discount-zero">0</label>
                      </div>
                      <div class="inline-radio">
                        <input type="radio" name="discount" id="discount-one" value="1" />
                        <label for="discount-one">1</label>
                      </div>
                      <div class="inline-radio">
                        <input type="radio" name="discount" id="discount-two" value="2" />
                        <label for="discount-two">2</label>
                      <div class="inline-radio">
                    </div> <!-- /.input-wrap -->
                  </fieldset>
                </div> <!-- ./input-content-->

                <label for="interest-rate-select" class="label-float">Interest rate</label>
                <div class="input-wrap"> <!-- use with columns with floated labels -->
                  <div class="select-content">
                    <select name="interest-rate-select" class="recalc" id="interest-rate-select" cf-objectify="interest-rate">
                      <option value="3.25">3.25%</option>
                      <option value="3.75">3.75%</option>
                      <option value="4">4%</option>
                      <option value="4.5">4.5%</option>
                      <option value="4.75">4.75%</option>
                    </select>
                  </div> <!-- /.select-content -->
                </div><!-- /.input-wrap -->
              </div> <!-- /.input-subsection -->
              <a href="#lc-input-a" class="lc-save-link lc-toggle second-save"><span class="cf-icon cf-icon-save"></span> Save inputs</a>
          </section> <!-- /.comparison-input-column-1 -->

          <section id="lc-input" class="lc-input comparison-input-column wrapper">
            <div class="add-btn">
              <p>Compare loans to better understand your options.</p>
              <a class="btn btn-secondary">Add another loan</a>
            </div>
          </section>
        </div> <!-- /.wrap -->

      </div> <!-- /.lc-inputs -->

  </section> <!-- ./comparisons -->

  <div class="wrap">
    <div class="wrapper">

      <section class="comparison-results">

        <!-- hide these from screen readers with aria-hidden="true"
        since they are not in the correct source order -->
        <div class="result-heading" aria-hidden="true">
          <h3 aria-hidden="true">Loan A</h3>
        </div> <!-- /.result-heading -->

        <section id="total-costs-closing" class="results-section">
          <h4 class="results-section-heading">Total costs at closing</h4>

          <div class="lc-result closing-cost-result" id="closing-cost-result-a">
            <h5 class="visuallyhidden">Loan A</h5>
            <span class="lc-primary-result closing-costs-display">$3,000</span>
          </div> <!-- /#closing-cost-result-a -->

        </section> <!-- /#total-costs-closing -->

        <section id="monthly-payment" class="results-section">
          <h4 class="results-section-heading">Monthly payment</h4>

          <div class="lc-result monthly-payment-result" id="monthly-payment-result-a">
            <h5 class="visuallyhidden">Loan A</h5>
            <span class="lc-primary-result monthly-payment-display">$0</span>
          </div> <!-- /#monthly-payment-result-a -->

        </section> <!-- /#monthly-payment -->

        <section id="overall-costs" class="results-section">

          <h4 class="results-section-heading">Overall costs</h4>

          <div class="lc-result overall-costs-result" id="closing-cost-result-a">
            <h5 class="visuallyhidden">Loan A</h5>
            <span class="lc-primary-result overall-costs-display">$0</span>
          </div> <!-- /#closing-cost-result-a -->

        </section> <!-- /#overall-costs -->

      </section> <!-- ./comparison-results -->

      <section id="about" class="about">

        <div class="about-data col-8">
          <h3 class="subhead">About our data source</h3>

          <p>Our data is provided by real lenders and is updated daily.  The lenders in our data include a mix of large banks, regional banks, and credit unions.</p>

          <p>The data is provided by Informa Research Services, Inc., Calabasas, CA. <a id="informars" href="http://www.informars.com">www.informars.com</a>.  Informa collects the data directly from lenders and every effort is made to collect the most accurate data possible, but they cannot guarantee the data’s accuracy.</p>
        </div>

        <div class="feedback col-4">
          <div class="tabbed-header">
            <h3 class="subhead tabbed-heading">Feedback</h3>
          </div>

          <h4>How do we improve this tool?</h4>

          <p>We're always looking to make our tools and resources better for you. Tell us how!</p>

          <p>Email us at <a id="about-email-link" href="mailto:owning-a-home@cfpb.gov">owning-a-home@cfpb.gov</a></p>
        </div>

      </section> <!-- /.about -->

    </div> <!-- /.wrapper -->
  </div> <!-- /.wrap -->

</div> <!-- /.loan-comparison ->

{% endblock %}
