{% extends "base.html" %}
{% set active_page = "rate-checker" %}
{% set subnav = false %}

{% block title %}Owning a Home: Rate Checker{% endblock title %}

{% block content %}

<div class="wrap content-area">
  <div class="wrapper">

    <div class="rate-checker result {% if subnav %}col-9{% endif %}" role="main">

      <section class="page-intro">

        <div class="col-12 oah-title-tag">
          <h1 class="oah-title">Owning a Home <sup class="beta">BETA</sup></h1>
        </div>

        <div class="col-8">

          <h2 class="page-title">Do you know what rate to expect when shopping for a mortgage?</h2>

          <p class="lead">Your credit score, loan type, home price, and down payment amount all affect the interest rate you can get. Type your information into this tool to see current rates for borrowers like you. Our data comes from actual lenders and is updated every business day.</p>

        </div>
        <div class="col-4">
          <section>

          <header class="tabbed-header">
            <h3 class="subhead tabbed-heading">Get updates</h3>
          </header>

            <p class="mid-lead">We’re building tools to help you understand the mortgage process and compare options.</p>

            <p class="mid-lead">Sign up for our Owning a Home beta group and you'll be the first to know when we add more features.</p>

            <form class="signup inline-signup" id="signup" action="https://public.govdelivery.com/service/process_ss.xml" method="GET" data-thanks="Thanks, we’ll be in touch!">
              <input type="hidden" name="code" value="USCFPB_46">
              <label for="email" class="visuallyhidden">Email address</label>
              <input type="email" id="email" name="email" placeholder="Enter your email address">
              <button id="beta-btn" class="btn">Sign up</button>
            </form>
          </section> <!-- /.beta-signup-->

        </div> <!-- /.col-4 -->

      </section>

      <div class="calculator" aria-controls="rate-results">

          <section class="form-intro">
              <h4>Check your rate options</h4>
              <p>To get the most accurate results, please tell us about your situation.</p>
          </section>

            <section class="credit-score">
                <div class="range">
                  <label for="credit-score">Credit score range</label>
                  <div class="labels">
                    <span>600</span>
                    <span class="max">850</span>
                  </div>
                  <input id="credit-score" type="range" min="600" max="840" step="20" value="700">
                  <div id="slider-range" class="range-text"></div>
                </div>

              <p class="form-sub">Your credit score has a big impact on the rate you’ll receive. <a href="http://www.consumerfinance.gov/askcfpb/319/how-does-my-credit-score-affect-my-ability-to-get-a-mortgage-loan.html" id="ask-cfpb-credit" class="go-link">Learn more</a></p>
          </section>

          <section class="demographics">

            <div class="col-12">
              <div class="wrapper">
              <label for="location">State</label>
              <div class="select-content">
                <select name="location" class="recalc" id="location">
                  <option value="AL">Alabama</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AK">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="DC">District of Columbia</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="HI">Hawaii</option>
                  <option value="ID">Idaho</option>
                  <option value="IL">Illinois</option>
                  <option value="IN">Indiana</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="MN">Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="MT">Montana</option>
                  <option value="NE">Nebraska</option>
                  <option value="NV">Nevada</option>
                  <option value="NH">New Hampshire</option>
                  <option value="NJ">New Jersey</option>
                  <option value="NM">New Mexico</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="ND">North Dakota</option>
                  <option value="OH">Ohio</option>
                  <option value="OK">Oklahoma</option>
                  <option value="OR">Oregon</option>
                  <option value="PA">Pennsylvania</option>
                  <option value="RI">Rhode Island</option>
                  <option value="SC">South Carolina</option>
                  <option value="SD">South Dakota</option>
                  <option value="TN">Tennessee</option>
                  <option value="TX">Texas</option>
                  <option value="UT">Utah</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WA">Washington</option>
                  <option value="WV">West Virginia</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
                </select>
              </div>
              </div>
            </div>

          </section>

          <section class="calc-loan-amt" id="loan-amt-inputs">

            <div class="col-5 flex-input">
              <div class="wrapper-first">
              <label for="house-price">House price</label>
              <div class="dollar-input">
                <span class="unit">$</span>
                <input type="text" placeholder="200,000" name="house-price" class="recalc" id="house-price">
              </div>
              </div>
            </div>

            <div class="col-7 flex-input down-payment">
              <div class="wrapper-last">
              <label for="down-payment">Down payment</label>
              <div class="percent-input">
                <span class="unit">%</span>
                <input type="text" placeholder="10" name="percent-down" maxlength="2" class="recalc down-calc" id="percent-down">
              </div>
              <div class="dollar-input">
                <span class="unit">$</span>
                <input type="text" placeholder="20,000" name="down-payment" class="recalc down-calc" id="down-payment">
              </div>
              </div>
            </div>

            <div class="col-5 loan-amt-total">
              <div class="wrapper">
              <label class="inline">Loan amount</label>
              <span id="loan-amount-result">$380,000</span>
              </div>
            </div>

            <div class="col-7 county hidden">
              <div class="wrapper-first">
              <label for="county">County</label>
              <div class="select-content">
                <select name="county" class="recalc" id="county">
                </select>
              </div>
              </div>
            </div>

          </section>

          <section class="form-sub hidden" id="fha-warning">
              <p class="fha-warning-text">Based on your loan amount, you may not be eligible for a regular FHA loan. Please enter your county so we can find the right loan type for you and get you the most accurate rates.</p>
          </section>

          <section class="calc-loan-details wrapper">

            <div class="col-6 flex-input upper">
              <div class="wrapper-first">
              <label for="rate-structure">Rate structure</label>
              <div class="select-content">
                <select name="rate-structure" class="recalc" id="rate-structure">
                  <option value="fixed">Fixed</option>
                  <option value="arm">Adjustable</option>
                </select>
                </div>
              </div>
            </div>

            <div class="col-6 flex-input upper">
              <div class="wrapper-last">
              <label for="loan-term">Loan term</label>
              <div class="select-content">
                <select name="loan-term" class="recalc" id="loan-term">
                  <option value="30">30 Years</option>
                  <option value="15">15 Years</option>
                </select>
              </div>
              </div>
            </div>

            <div class="col-6 flex-input">
              <div class="wrapper-first">
              <label for="loan-type">Loan type</label>
              <div class="select-content">
                <select name="loan-type" class="recalc" id="loan-type">
                  <option value="conf">Conventional</option>
                  <option value="fha">FHA</option>
                  <option value="va">VA</option>
                </select>
              </div>
              </div>
            </div>

            <div class="col-6 flex-input hidden">
              <div class="wrapper-last">
              <label for="arm-type">ARM type</label>
              <div class="select-content">
                <select name="arm-type" class="recalc" id="arm-type">
                  <option value="3-1">3/1</option>
                  <option value="5-1">5/1</option>
                  <option value="7-1">7/1</option>
                  <option value="10-1">10/1</option>
                </select>
              </div>
              </div>
            </div>

          </section>

          <section class="form-sub hidden" id="arm-warning">
              <p class="arm-warning-text">While some lenders may offer FHA, VA, or 15-year adjustable-rate mortgages, they are rare. We don’t have enough data to display results for these combinations. Choose a fixed rate if you’d like to try these options.</p>
          </section>

          <section class="calc-footer form-sub">
              <p>This tool assumes you want to purchase a single family house to be your primary residence. The rates quoted assume -0.5 to 0.5 <a id="ask-discount-points" href="http://www.consumerfinance.gov/askcfpb/136/what-are-discount-points-or-points.html">discount points</a> and a 60-day <a id="ask-rate-lock" href="http://www.consumerfinance.gov/askcfpb/143/whats-a-lock-in-or-a-rate-lock.html">rate lock</a>.</p>
          </section>

        </div><!-- END .calculator -->

        <div class="rc-results" id="rate-results" aria-live="polite">

          <h2 id="rc-summary" class="rate-checker-heading data-enabled clear">In <strong class="location">Alabama</strong>, most lenders are offering rates at or below <strong class="rate" id="median-rate"></strong>.</h2>

          <div id="accessible-data-results" class="visuallyhidden">
            <h3>Data table</h3>
            <p>The following table will populate with our data results</p>
            <table id="accessible-data">
              <tr class="table-head">
                <th>Loan Rates</th>
              </tr>
              <tr class="table-body">
                <td>number of corresponding rates</td>
              </tr>
            </table>
          </div>

          <section class="chart wrapper">
            <figure class="data-enabled loading">
              <div id="chart" class="chart-area"></div>
              <figcaption class="chart-caption">
                <div class="caption-title col-8">
                  Rates available to a borrower like you
                </div>
                <div class="rc-data-link col-4">
                  <a href="#about">About our data source</a>
                </div>
              </figcaption>
            </figure>
          </section>

          <section class="compare wrapper">

            <div class="rate-selects col-6">
              <div class="wrapper">

                <div class="rate-compare-container data-enabled loading">
                  <label for="rate-compare-1">Rate</label>
                  <div class="select-content">
                    <select name="rate-compare-1" id="rate-compare-1" class="rate-compare">
                      <option value="1">1%</option>
                    </select>
                  </div>
                  <div id="arm-info" class="arm-info-comparison hidden" role="alert">
                    <p>With the adjustable-rate mortgage you've chosen, the rate is only fixed for the first <span class="loan-years">5</span> years. Your interest costs in the future could change.</p>
                  </div>
                  <div class="interest-cost interest-cost-primary">
                     <h5>Interest cost over <span class="loan-years">30</span> years</h5>
                    <span class="new-cost">$150,000</span>
                  </div>
                  <div class="interest-cost interest-cost-secondary">
                    <h5>Interest cost over <span class="loan-years">5</span> years</h5>
                    <span class="new-cost">$150,000</span>
                  </div>
                </div>

                <div class="rate-compare-container data-enabled loading">
                  <label for="rate-compare-2">Rate</label>
                  <div class="select-content">
                    <select name="rate-compare-2" id="rate-compare-2" class="rate-compare">
                      <option value="1">1%</option>
                    </select>
                  </div>
                  <div class="interest-cost interest-cost-primary">
                     <h5>Interest cost over <span class="loan-years">30</span> years</h5>
                    <span class="new-cost">$150,000</span>
                  </div>
                  <div class="interest-cost interest-cost-secondary">
                    <h5>Interest cost over <span class="loan-years">5</span> years</h5>
                    <span class="new-cost">$150,000</span>
                  </div>
                </div>

                <div class="comparison-summary col-12">

                  <div class="interest-summary highlight-container data-enabled loading" id="rc-comparison-summary">
                    <p>Over the first <span id="comparison-term">5</span> years, an interest rate of <span id="higher-rate">1%</span> costs <strong id="rate-diff">$0</strong> more than an interest rate of <span id="lower-rate">1%</span>.</p>
                  </div>

                  <p class="sub">Interest is only one of many costs associated with getting a mortgage. <a id="go-ask-cost" class="go-link" href="http://www.consumerfinance.gov/askcfpb/153/what-costs-will-i-have-to-pay-as-part-of-taking-out-a-mortgage-loan.html">Learn more</a></p>

                  <p class="sub"><strong><a id="ask-more-mortgages" class="go-link" href="http://www.consumerfinance.gov/askcfpb/search/?selected_facets=category_exact:mortgages">More mortgage questions on Ask CFPB</a></strong></p>
                </div> <!-- /.comparison-summary -->

              </div> <!-- /.wrapper -->
            </div> <!-- /.rate-selects -->

                <div class="col-6">

                  <h4>What does this mean for you?</h4>

                  <p>Rates are different based on your personal situation and the lender you go to. Shop around with multiple lenders to get the best rate you can for your situation.</p>
                  <p> When shopping for a rate, make sure to ask how many <a id="ask-rate-points" href="http://www.consumerfinance.gov/askcfpb/136/what-are-discount-points-or-points.html">points</a> you’ll have to pay to get the rate. Points (also known as discount points) lower your interest rate, but increase your upfront <a id="ask-closing-costs" href="http://www.consumerfinance.gov/askcfpb/139/what-are-closing-costs.html">closing costs</a>. The rates shown here come with between -0.5 and 0.5 points.</p>

                </div>


          </section>

        </div><!-- END .result -->

        <section class="next-steps">

          <h2><strong>Next steps:</strong> How do I get the best rate on my mortgage?</h2>

          <p class="sans">When you’re ready to get serious about buying, the best thing you can do to get a better rate on your mortgage is <strong>shop around</strong>.  But if you don’t plan to buy for a few months, there are more things you can do to ensure you get a great rate on your mortgage.</p>

          <ul class="tabs">
            <li class="tab-list active-tab">
                <a id="plan-to-buy-tab" class="tab-link wrapper" href="#tab1">I plan to buy in the next couple of months</a>
            </li>
            <li class="tab-list">
                <a id="wont-buy-tab" class="tab-link wrapper" href="#tab2">I won’t buy for several months</a>
            </li>
          </ul>

          <div id="tab1" class="tab-content default">
            <ol class="next-steps-list">
              <li class="col-4">
                <h4 class="next-steps-heading">Shop around.</h4>
                <p>Get quotes from three or more lenders so you can see how they compare.  Rates often change from when you first talk to a lender and when you submit your mortgage application, so don’t make a final decision before comparing official <a id="ask-gfe" href="http://www.consumerfinance.gov/askcfpb/146/what-is-a-good-faith-estimate-what-is-a-gfe.html">Good Faith Estimates</a>.</p>
              </li>
              <li class="col-4">
                <h4 class="next-steps-heading">Consider all your options. </h4>
                <p>Make sure you’re getting the kind of loan that makes the most sense for you. If more than one kind of loan might make sense, ask lenders to give you quotes for each kind so you can compare. Once you’ve chosen a kind of loan, compare prices by getting quotes for the same kind of loan.</p>
              </li>
              <li class="col-4">
                <h4 class="next-steps-heading">Negotiate.</h4>
                <p>Getting quotes from multiple lenders puts you in a better bargaining position.  If you prefer one lender, but another lender offers you a better rate, show the first lender the lower quote and ask them if they can match it.</p>
              </li>
            </ol>
          </div>
          <div id="tab2" class="tab-content">
            <ol class="next-steps-list">
              <li class="col-4">
                <h4 class="next-steps-heading">Watch your spending.</h4>
                <p>Don’t take out a car loan, make large purchases on your credit cards, or apply for new credit cards in the months before you plan to buy a house.  Doing so can lower your credit score, and increase the interest rate lenders are likely to charge you on your mortgage.</p>

                <p><a id="go-ask-credit-score" class="go-link" href="http://www.consumerfinance.gov/askcfpb/315/what-is-my-credit-score.html">Learn more about credit scores</a></p>
              </li>
              <li class="col-4">
                <h4 class="next-steps-heading">Improve your credit score.</h4>
                <p>If you don’t plan to buy for at least six months, you may be able to improve your credit score and get a better interest rate.  Pay your bills on time, every time.  If you have credit card debt, pay it down.  But don’t close unused cards unless they carry an annual fee.</p>

                <p><a id="go-ask-good-credit" class="go-link" href="http://www.consumerfinance.gov/askcfpb/318/how-do-i-get-and-keep-a-good-credit-score.html">Learn about improving your credit score</a></p>
              </li>
              <li class="col-4">
                <h4 class="next-steps-heading">Save for a larger down payment.</h4>
                <p>If your down payment is less than 20 percent, you’ll typically get a higher interest rate and have to pay for mortgage insurance.  Save enough for a 20 percent down payment and you’ll usually pay less. Even going from a five percent down payment to a 10 percent down payment can save you money.</p>

                <p><a id="go-ask-down-payment-affect" class="go-link" href="http://www.consumerfinance.gov/askcfpb/120/what-kind-of-down-payment-do-i-need-how-does-the-amount-of-down-payment-i-make-affect-the-terms-of-my-mortgage-loan.html">Learn more about down payments</a></p>
              </li>
            </ol>
          </div>
        </section> <!-- /.next-steps -->

        <div class="alert-container">
          <div class="col-3">
            <h4 class="alert">Check your credit report</h4>
          </div>

          <div class="col-9">
            <p>If you haven’t checked your <a id="annualcreditreport" href="http://annualcreditreport.com">credit report</a> recently, do so now.  If you find errors, <a id="ask-dispute-credit-report" href="http://www.consumerfinance.gov/askcfpb/314/how-do-i-dispute-an-error-on-my-credit-report.html">get them corrected</a> <strong>before</strong> you apply for a mortgage.</p>
          </div>
        </div> <!-- /.alert-container -->

        <section id="about" class="about">

          <div class="about-data col-8">
            <h3 class="subhead">About our data source</h3>

            <p>Our data is provided by real lenders and is updated daily.  The lenders in our data include a mix of large banks, regional banks, and credit unions.</p>

            <p>The data is provided by Informa Research Services, Inc., Calabasas, CA. <a id="informars" href="http://www.informars.com">www.informars.com</a>.  Informa collects the data directly from lenders and every effort is made to collect the most accurate data possible, but they cannot guarantee the data’s accuracy.</p>
          </div>

          <div class="feedback col-4">
            <div class="tabbed-header">
              <h3 class="subhead tabbed-heading">Feedback</h3>
            </div>

            <h4>How do we improve this tool?</h4>

            <p>We're always looking to make our tools and resources better for you. Tell us how!</p>

            <p>Email us at <a id="about-email-link" href="mailto:owning-a-home@cfpb.gov">owning-a-home@cfpb.gov</a></p>
          </div>

        </section> <!-- /.about -->

    </div><!-- END .rate-checker -->

  </div> <!-- /.wrapper -->
</div> <!-- /.wrap -->

{% endblock %}
