{% extends "base.html" %}
{% set active_page = "loan-comparison" %}
{% set page_js = "loan-comparison" %}
{% set subnav = false %}

{% block title %}Owning a Home: Loan Comparison{% endblock title %}

{% block content %}
<script>
    var baseURL = {{base_url}};
</script>
<div id="oah-loan-comparison" class="loan-comparison {% if subnav %}col-9{% endif %}" role="main">
  <section class="content_wrapper content_wrapper__medium">
    <div class="content_main">
      
      <div class="oah-title-tag">
          <a class="go-back-link l-back-link" href="/owning-a-home/">
            Owning a Home
          </a>
        </div>
     
        <div id="app-container"></div>
        
      </div> <!-- /.content-main -->

    </section> <!-- ./comparisons -->

  <div class="content_wrapper content_wrapper__medium u-pb0">
    <div class="content_main u-pb0">
       <div class="block block__border-top block__flush-top block__flush-bottom">


        <div class="content-l content-l__full">
          <div class="content-l_col content-l_col-2-3">
            <h3 class="subhead">About our data source</h3>

            <p>Our data is provided by real lenders and is updated daily.  The lenders in our data include a mix of large banks, regional banks, and credit unions.</p>

            <p>The data is provided by Informa Research Services, Inc., Calabasas, CA. <a id="informars" href="http://www.informars.com">www.informars.com</a>.  Informa collects the data directly from lenders and every effort is made to collect the most accurate data possible, but they cannot guarantee the data’s accuracy.</p>
          </div>

          <div class="content-l_col content-l_col-1-3 u-mt0">
            <div class="feedback-block block block__bg block__flush-top block__flush-bottom">
              <div class="tabbed-header">
                <h3 class="subhead tabbed-heading">Feedback</h3>
              </div>

              <h4>How do we improve this tool?</h4>

              <p>We're always looking to make our tools and resources better for you. Tell us how!</p>

              <p>Email us at <a id="about-email-link" href="mailto:owning-a-home@cfpb.gov">owning-a-home@cfpb.gov</a></p>
            </div>
          </div>

        </div><!-- /.content-l -->
      </div><!-- /.block -->
        
        
        
    </div><!-- /.content_main -->
  </section> <!-- /.page-intro -->
  
</div> <!-- /.loan-comparison -->

{% endblock %}
