.hero {
  background: @gray-10;
  border-top: 1px solid #CFCFCD;
  border-bottom: 1px solid #CFCFCD;
  padding: 40px 0;

  p {
    .webfont-regular();
    text-transform: uppercase;
    color: #909294;
    text-align: center;
  }
}

.subsection-hero {
  .webfont-medium();
  padding: 38px 0;
  border-top: 1px solid @gray-50;
  border-bottom: 1px solid @gray-50;

  p {
    font-size: 1.125em;
  }
}

@media (min-width: 960px) {
  .subsection-hero-wrap {
    max-width: 610px;
    margin: 0 auto;
  }
}

// page intros are content areas that are in place of a hero
.page-intro {
  padding-bottom: 36px;
  border-bottom: 1px solid @gray-20;
}
