.calc-content {
  .webfont-medium();
}

.comparison-header {
  font-size: 1.375em;
  .webfont-regular();
}

.comparison-column-1 {
  .column( 6 );
}
.comparison-column {
  .column( 3 );
}

/*
  Mobile overview section
  --------------------------- */

// default to hiding mobile overview section
.mobile-overview {
  display: none;

  p {
    .webfont-regular();
    margin-bottom: 0.75em;
  }
}

@media (max-width: 600px) {

  .comparison-column-1,
  .comparison-column {
    .column( 12 ); // this will have to change when we have two loans
  }

  .comparison-lead {
    .column( 6 );
  }

  // display mobile overview on small screens
  .mobile-overview {
    display: block;
    border-top: 3px solid @green-midtone;
    padding: 1em 0;

    h4 {
      .allcaps-demi;
    }
  }
}

/*
  Loan Comparison Inputs
  --------------------------- */

.lc-inputs {
  background: @gray-10;
  .wrapper;
  .webfont-regular();

  label {
    margin-top: 0.875em;
  }
}

.lc-subhead {
  .allcaps-demi;
}

.small-input {
  display: inline-block;
  width: 20%;
}

.mid-input {
  display: inline-block;
  width: 75%;
}

.lc-toggle {
  display: block;
  background: #fff;
  font-size: 0.875em;
  text-align: center;
  padding: 8px 0;

  .cf-icon {
    font-size: 1.125em;
  }
}

.lc-edit-link {
  border-top: 1px dotted @pacific;
  border-bottom: 1px dotted @pacific;
}

.lc-save-link {
  margin: 0 -15px; // negative margin accomodates for grid padding

  &.first-save {
    border-top: 1px dotted @pacific;
    border-bottom: 1px solid @gray-20;
  }

  &.second-save {
    border-top: 1px solid @gray-20;
    border-bottom: 1px dotted @pacific;
  }
}

@media (max-width: 600px) {

  .lc-inputs {
    display: none;

    &.input-open {
      display: block;
    }
  }


  .input-subsection {
    padding: 0.625em 0 1.5em 0;
    border-bottom: 1px solid @gray-20;
  }
}


/*
  Loan Comparison Results
  --------------------------- */

.results-section {
  margin-top: 60px;
}

.results-section-heading {
  .webfont-medium();
  font-size: 1.125em;
  background-color: @gray-10;
  padding: 12px 10px;
}

.lc-primary-result {
  font-size: 1.375em;
  .webfont-regular();
}

@media (max-width: 600px) {
  .result-heading {
    display: none;
  }
}
