/* Headings
--------------------------- */

.section-heading {
  margin-top: 60px;
}

.subheading {
  .webfont-demi();
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 32px;
  padding-bottom: 10px;
  border-bottom: 4px solid #AED690;
}

.h5 {
  .webfont-demi();
  font-size: 0.75em;
  text-transform: uppercase;
  border-bottom: 1px solid @gray-20;
}

.callout-heading {
  .webfont-demi();
  font-size: 0.875em;
  text-transform: uppercase;
}

.callout-mid-heading {
  .webfont-medium();
  text-transform: none;
  font-size: 1.125em;
  margin-bottom: 10px;
  margin-top: 32px;
}

/* lists */

ul > li {
  list-style: disc;
}