<section class="input-notes block__border-bottom u-mb20">
  <div class="u-mt20 u-mb20">
    <section>
      <p class="u-right">
        <input type="textarea" placeholder="{{placeholder}}" value='{{altText}}'>
      </p>
      <p>{{text}}</p>
    </section>
  </div>
</section>
