<section class="input-notes block__border-bottom u-mb20">
  <div class="u-mt20 u-mb20">
    <section>
      <p class="u-right index-content">
        {{altTextValue}}
      </p>
      <p class="index-content">
      	{{inputValue}}
      </p>
    </section>
  </div>
</section>
