<section class="input-notes block__border-bottom u-mb20">
  <div class="u-mt20 u-mb20">
    <section>
      <h4>{{inputValue}}</h4>
      <p class='index-content'>
        {{altTextValue}}
      </p>
    </section>
  </div>
</section>
