<section class="input-notes block__border-bottom u-mb20">
  <div class="u-mt20 u-mb20">
    <section>
      <p class="u-right">
        <input type="text" placeholder="Fill in your own note" value='{{altTextValue}}'>
      </p>
      <p>{{inputValue}}</p>
    </section>
  </div>
</section>
