<section class="worksheet worksheet-notes">
	<h2><span class="cf-icon cf-icon-approved-round"></span> Explore Alternatives to your goals</h2>
    <div class="alternatives-examples"></div>
    <section class="worksheet-alternatives">
    </section>
</section>


