<article class="worksheet worksheet-summary worksheet-{{type}}-summary">
    <header class="subheading">
        <h4 aria-hidden="true">{{title}}</h4>
    </header>

    <div class="worksheet-input-group">
        {{#each items}}
            <div class="input-notes block__border-bottom u-mb20">
              <div class="u-mt20 u-mb20">
                <div>
                  <h4>{{text}}</h4>
                
                  <div class="expandable">
                    <a href="#" class="short-desc expandable_target">
                        <span class="expandable_cue-open">
                            <span class="cf-icon cf-icon-plus-round"></span>&nbsp;See your alternative
                        </span>
                        <span class="expandable_cue-close">
                            <span class="cf-icon cf-icon-minus-round"></span>&nbsp;Hide your alternative
                        </span>
                    </a>
                    <div class="expandable_content">
                        <p class="short-desc block__sub block__flush-bottom">{{altText}}</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
        {{/each}}
    </div>
</article>
