<article class="worksheet worksheet-summary worksheet-{{type}}-summary">
    <h4 class="subheading" aria-hidden="true">{{title}}</h4>

    <div class="worksheet-input-group">
        {{#each items}}
            <div class="input-notes block__border-bottom u-mb20">
              <div class="u-mt15 u-mb15">
                  {{text}}
              </div>
            </div>
        {{/each}}
    </div>
</article>
