<!-- Goals -->
<h2><span class="cf-icon cf-icon-information-round"></span> Summary</h2>

<!-- Lifestyle Goals -->
<section class="worksheet worksheet-goal">
  <header class="subheading">
    <h4 class="u-right">Alternative</h4>
    <h4>Lifestyle goal</h4>
  </header>

  <section class="text-group">
    {{#each inputs}}
    <section class="input-graded block__border-bottom u-mb20">
	  <div class="u-mt20 u-mb20">
	    <section class="input-summary">
	      <p>{{text}}</p>
	    </section>
	  </div>
	</section>
	{{/each}}
  </section>
</section>
