<section class="worksheet worksheet-summary">
  <h2><span class="cf-icon cf-icon-approved-round"></span> Goals</h2>

  <article>
    <header class="subheading">
      <h4 aria-hidden="true">High Priority</h4>
    </header>

    <section class="worksheet-input-group">
      <!-- Content filled in dynamically from JS -->
    </section>
  </article>
</section>
