<article>
   <header class="subheading">
     <h4 class="worksheet-right-col-header" aria-hidden="true">{{prompt}}</h4>
     <h4 aria-hidden="true">{{title}}</h4>
   </header>

   <div class="worksheet-input-group">
     <!-- Content filled in dynamically from JS -->
   </div>

   {{#if is_graded}}
       <button class="btn btn-worksheet-add-row">Add an item</button>
       <button class="btn btn-worksheet-reset">Reset list</button>
   {{/if}}
</article>
