<section class="worksheet block worksheet-flags">
  <h2><span class="cf-icon cf-icon-complaint-round"></span> Check for red flags</h2>

  <p class="lead">Are there financial or lifestyle reasons why renting might be a better choice for you right now?</p>

  <article>
    <header class="subheading">
      <h4 class="worksheet-right-col-header" aria-hidden="true">Is this likely?</h4>
      <h4 aria-hidden="true">Issue</h4>
    </header>

    <section class="worksheet-input-group">
      <!-- Content filled in dynamically from JS -->
    </section>

    <button class="btn btn-worksheet-add-row">Add an item</button>
  </article>
</section>