<section class="worksheet worksheet-notes">
	<h2><span class="cf-icon cf-icon-approved-round"></span> Explore Alternatives to your goals</h2>

	<article>
	  <header class="subheading">
	    <h4 class="worksheet-right-col-header" aria-hidden="true">Alternative</h4>
	    <h4 aria-hidden="true">Lifestyle goal</h4>
	  </header>

	  <section class="worksheet-input-group">
	    <!-- Content filled in dynamically from JS in worksheet-goals-notes.js -->
	  </section>
	</article>
</section>
