<section class="worksheet block block__flush-top worksheet-goals">
  <h2><span class="cf-icon cf-icon-error-round"></span> Clarify your goals</h2>

  <p class="lead">Most people are interested in buying a home for a mix of lifestyle and financial reasons. Make a list of all the reasons you’re interested in buying a home. <em>We’ve listed some common ones to get you started – edit the items or delete ones that are not relevant to you, and add your own item.</em></p>

  <article>
    <header class="subheading">
      <h4 class="worksheet-right-col-header" aria-hidden="true">Priority level</h4>
      <h4 aria-hidden="true">Lifestyle goal</h4>
    </header>

    <section class="worksheet-input-group">
      <!-- Content filled in dynamically from JS in worksheet-goals.js -->
    </section>

    <button class="btn btn-worksheet-add-row">Add an item</button>
    <button class="btn btn-worksheet-reset">Reset list</button>
  </article>
</section>