<section class="worksheet worksheet-summary block block__flush-bottom">
  <h2><span class="cf-icon cf-icon-error-round"></span> Risks</h2>

  <article>
    <header class="subheading">
      <h4 class="worksheet-right-col-header" aria-hidden="true">Notes</h4>
      <h4 aria-hidden="true">Not ready to accept</h4>
    </header>

    <section class="worksheet-input-group">
      <!-- Content filled in dynamically from JS -->
    </section>
  </article>
</section>
