<!-- Goals -->
<h2><span class="cf-icon cf-icon-approved-round"></span> Clarify your goals</h2>

<p class="lead">Most people are interested in buying a home for a mix of lifestyle and financial reasons. Make a list of all the reasons you’re interested in buying a home. <em>We’ve listed some common ones to get you started – edit the items or delete ones that are not relevant to you, and add your own item.</em></p>

<!-- Lifestyle Goals -->
<section class="worksheet worksheet-goal">
  <header class="subheading">
    <h4 class="u-right">Priority level</h4>
    <h4>Lifestyle goal</h4>
  </header>

  <section class="input-graded-group">
    <!-- Content filled in dynamically from JS in prepare-worksheet.js -->
  </section>

  <button class="btn btn-add-input-graded">Add an item</button>
</section>
