<section class="worksheet block worksheet-risks">
  <h2><span class="cf-icon cf-icon-error-round"></span> Understand the risks</h2>

  <p class="lead">There are many risks associated with owning property. When you rent, your landlord takes on these risks. When you buy, you take on these risks as the homeowner. How prepared are you to accept these risks?</p>

  <article>
    <header class="subheading">
      <h4 class="worksheet-right-col-header" aria-hidden="true">Are you ready to accept this risk?</h4>
      <h4 aria-hidden="true">Issue</h4>
    </header>

    <section class="worksheet-input-group">
      <!-- Content filled in dynamically from JS -->
    </section>

    <button class="btn btn-worksheet-add-row">Add your own risk</button>
  </article>
</section>