<section class="worksheet worksheet-summary">
  <article>
    <header class="subheading">
      <h4 aria-hidden="true">Medium priority</h4>
    </header>

    <section class="worksheet-input-group">
      <!-- Content filled in dynamically from JS -->
    </section>
  </article>
</section>
