<header aria-label="Owning a Home header" class="brand-header content">
  <div class="content_wrapper">

    <div class="brand-header__1-2-container brand-header__1-2-container-with-icon">
      <div class="brand-header__headline">
        <span class="cf-icon cf-icon-owning-home brand-header__icon" aria-hidden></span>
        This page is part of <a href="/owning-a-home/">Owning a Home</a>, the CFPB’s
        set of tools and resources for homebuyers.
      </div>
    </div>

    <div class="brand-header__1-2-container">
      The CFPB is a U.S. government agency created in 2011.
      We write and enforce rules to protect consumers,
      and we provide free tools and resources to help you make financial decisions.
    </div>

  </div>
</header>
