<form method="post"
      class="rateq
             block
             block__bg
             block__border
             block__padded-top">

  <div class="content-l">
    <fieldset class="u-reset">
          <div class="form-l_col
                      form-l_col-1
                      form-l_col__flush-bottom">
              <legend>
                  <span class="h4">Was this page helpful to you?</span>
              </legend>
          </div>
          <div class="rating-inputs">
            <div class="form-l_col
                        form-l_col-1-3
                        form-l-inset">
                <div class="form-l-inset_container">
                    <input class="cf-input"
                           type="radio"
                           name="helpful"
                           value="1"
                           id="helpful_1">
                    <label class="cf-input_label"
                           for="helpful_1">
                        Yes
                    </label>
                </div>
            </div>
            <div class="form-l_col
                        form-l_col-1-3
                        form-l-inset">
                <div class="form-l-inset_container">
                    <input class="cf-input"
                           type="radio"
                           name="helpful"
                           value="0"
                           id="helpful_0">
                    <label class="cf-input_label"
                           for="helpful_0">
                        No
                    </label>
                </div>
            </div>
            <div class="form-l_col
                        form-l_col-1-3
                        form-l-inset
                        message-column">
              <div class="rating-message">
                <span class="cf-icon cf-icon-approved-round rating-message_icon"></span>
                <span class="rating-message_text">Thank you for your feedback!</span>
              </div>
            </div>

          </div>

          <div class="form-l_col
                        form-l_col-1
                        form-l_col__flush-bottom">
              <a class="list_link jump-link feedback-link" href="/owning-a-home/feedback/">
                  <span class="jump-link_text">Provide additional feedback</span>
              </a>
            </div>
      </fieldset>
   </div>
</form>
