<div class="cf-notification
            cf-notification__success
            comment-success">
  <div class="wrapper wrapper__match-content cf-notification_wrapper">
    <span class="cf-notification_icon cf-notification_icon__success cf-icon cf-icon-approved-round"></span>
    <div class="cf-notification_text">
      <div class="data-text">Thank you for your feedback!</div>
    </div>
  </div>
</div>

<form method="post"
      class="rateq
             block
             block__bg
             block__border
             block__padded-top">

  <div class="content-l">
    <fieldset class="u-reset">
          <div class="form-l_col
                      form-l_col-1
                      form-l_col__flush-bottom">
              <legend>
                  <span class="h4">Was this answer helpful to you?</span>
              </legend>
          </div>
          <div class="rating-inputs">
            <div class="form-l_col
                        form-l_col-1-3
                        form-l-inset">
                <div class="form-l-inset_container">
                    <input class="cf-input"
                           type="radio"
                           name="helpful"
                           value='1'
                           id="helpful_1">
                    <label class="cf-input_label"
                           for="helpful_1">
                        Yes
                    </label>
                </div>
            </div>
            <div class="form-l_col
                        form-l_col-1-3
                        form-l-inset">
                <div class="form-l-inset_container">
                    <input class="cf-input"
                           type="radio"
                           name="helpful"
                           value="0"
                           id="helpful_0">
                    <label class="cf-input_label"
                           for="helpful_0">
                        No
                    </label>
                </div>
            </div>
            <div class="form-l_col
                        form-l_col-1-3
                        message-column">
              <div class="rating-message">
                <span class="cf-icon cf-icon-approved-round rating-message_icon"></span>
                <span class="rating-message_text">Thank you for your feedback!</span>
              </div>
            </div>
          </div>
      </fieldset>
   </div>
</form>
