{% extends "base.html" %}
{% set active_page = "loan-options-subpage" %}

{% block title %}Owning a Home: Loan Options{% endblock title %}

{% block content %}

<main class="content content__2-1 content__bleedbar" id="main" role="main">
  <div class="wrap content_wrapper">
    <section class="content_main" id="fha">
      {% include "loan_types_subpage_heading.html" %}

      <h2>FHA loans</h2>

      <div class="wrapper">
        <section id="conventional-overview" class="col-9">
          <p>FHA loans are loans from private lenders that are regulated and insured by the <a class="external-link" href="http://portal.hud.gov/hudportal/HUD?src=/federal_housing_administration">Federal Housing Administration</a> (FHA), a government agency. The FHA doesn’t lend the money directly–private lenders do. FHA loans:</p>

          <ul class="standard-list">
            <li>Allow for down payments as low as 3.5 percent.</li>
            <li>Allow lower credit scores than most <a href="../conventional-loans">conventional loans</a>.</li>
            <li>Have a maximum loan amount that varies by county. <a href="/askcfpb/1963/how-can-i-find-the-loan-limit-for-an-fha-loan-in-my-county.html">Learn your FHA loan limit</a>. </li>
          </ul>

          <p class="bump"><strong>For borrowers with good credit and a medium (10-15 percent) down payment,</strong> FHA loans tend to be more expensive than conventional loans. For borrowers with lower credit scores or a smaller down payment, FHA loans can often be the cheapest option. But there are no hard-and-fast rules&mdash;a lot depends on the current market. If you’re not sure, ask lenders for quotes for both options and compare total costs to see which offers the best overall deal.</p>
        </section>

        <div class="col-3">
          <h4 class="small-heading">Mortgage insurance</h4>
          <p class="sans">Required for <strong>all</strong> FHA loans. <br><a href="#mortgage-insurance">More on mortgage insurance</a>.</p>
        </div>
      </div>

      <section id="mortgage-insurance" class="l-bump sans">
          <h3>Mortgage insurance: what you need to know</h3>

           <p><strong>Mortgage insurance helps you get a loan you wouldn’t otherwise be able to.</strong> If you can’t afford a 20 percent down payment, you will likely have to pay for mortgage insurance. You may choose to get a conventional loan with private mortgage insurance (PMI), or an FHA, VA, or USDA loan.</p>
          <p><strong>Mortgage insurance usually adds to your costs.</strong> Depending on the loan type, you will pay monthly mortgage insurance premiums, an upfront mortgage insurance fee, or both. </p>
          <p><strong>Mortgage insurance protects the lender if you fall behind on your payments. It does not protect you.</strong> Your credit score will suffer and you may face foreclosure if you don’t pay your mortgage on time.</p>
          <p><a href="/askcfpb/1953/what-is-mortgage-insurance-and-how-does-it-work.html">Learn more about mortgage insurance</a>.</p>
      </section>

    </section> <!-- /.content_main -->

    <aside class="content_sidebar sans">
      <header class="tabbed-header">
        <h3 class="subhead tabbed-heading">Other loan types</h3>
      </header>

      <div class="aside-chunk">
        <h4>Conventional loans</h4>

        <p>Majority of loans</p>
        <p>Conventional loans typically have lower costs than FHA loans but stricter standards for approval.</p>
        <p><a class="go-link" href="../conventional-loans/">Get all the details</a></p>
      </div>

      <div class="aside-chunk">
        <h4>Special loan programs</h4>
        <ul class="no-bullet">
          <li><strong>VA:</strong> For veterans, servicemembers, or surviving spouses</li>
          <li><strong>USDA:</strong> For low- to middle-income borrowers in rural areas</li>
          <li><strong>Local:</strong> For low- to middle-income borrowers, first-time homebuyers, or public service employees</li>
        </ul>

        <p><a class="go-link" href="../special-loan-programs/">Get all the details</a></p>
      </div>

        <header class="tabbed-header">
        <h3 class="subhead tabbed-heading">Related links</h3>
      </header>

      <div class="aside-chunk">
        <ul class="no-bullet">
          <li><a class="external-link" href="http://portal.hud.gov/hudportal/HUD?src=/federal_housing_administration">Federal Housing Administration (FHA)</a></li>
        </ul>
      </div>

      <header class="tabbed-header">
        <h3 class="subhead tabbed-heading">Ask CFPB</h3>
      </header>

      <div class="aside-chunk">
        <ul class="no-bullet">
          <li><a href="/askcfpb/1963/how-can-i-find-the-loan-limit-for-an-fha-loan-in-my-county.html">How can I find the loan limit for an FHA loan in my county?</a></li>
        </ul>
      </div>
    </aside>
  </div>
</main>
{% endblock %}

