{% extends "base.html" %}
{% set active_page = "process" %}
{% set page_js = "process" %}

{% import "nav-macro.html" as nav_macro with context %}
{% import "_vars-process.html" as vars with context %}

{% block title %}Owning a Home: Know the Process{% endblock title %}

{% block content %}

{% set active_phase = get_document("journey", phase_name) %}

{% set query = queries.journey %}
{% set docsource = active_phase.hit_dict['_source'] %}
{% set id_str = docsource['id']|string %}
{% set filter = 'parent:' + id_str  %}
{% set steps = query.search(size=100,q=filter) %}

<main class="know-the-process wrapper" id="main" role="main">
  <div>

    <section class="phase">
      <div class="u-mb15">
        <a class="list_link jump-link jump-link__left jump-link__before" href="/owning-a-home/">
          Owning a Home
        </a>
      </div>

      {{ nav_macro.render("top", active_phase.slug) }}

      <section class="overview content-l content-l__main u-mt45">
          <div class="content-l_col content-l_col-3-4">
              {% if active_phase.title %}
              <h1 class="phase_title">
                {% if phase_index %}
                    <span class="icon-round phase_number">
                      {{phase_index}}
                    </span>
                {% endif %}
                {{active_phase.title | safe if active_phase.title}}
              </h1>
              {% endif %}
              <div class="lead u-mb0">{{active_phase.content | safe if active_phase.content}}</div>
          </div>
          <div class="content-l_col content-l_col-1-4 phase_image">
            {% if vars.process_steps and phase_index %}
              {% set active_phase_short_name =  vars.process_steps[phase_index - 1]['url'] %}
              <img src="{{url_for('static', filename='img/process_' + active_phase_short_name + '.png')}}" alt="Illustration of the home-buying process">
            {% endif %}
          </div>
      </section>


      {% if active_phase.milestones %}
        <div class="block block__border-top block__padded-top block__padded-bottom block__flush-bottom milestones">
          <h3 class="milestones_header char-icon char-icon__checked">Goals for this phase</h3>
          <ul class="content-l">
            {% for milestone in active_phase.milestones %}
            <li class="content-l_col content-l_col-1-3 short-desc">
              {{ milestone|safe }}
            </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="phase_data">
        <div class=" {% if active_phase.tools %} content-l {% endif %}">

          {% if active_phase.tools %}
            <div class="tools-col">
              <section class="tools block block__bg block__padded-top">
                <h3 class="h6 u-mb15">Tools for this Phase</h3>
                {% for tool in active_phase.tools %}
                  <div class="tool">
                    {% if tool.link.label %}
                    <p class="short-desc">{{tool.description}}</p>
                    {% endif %}
                    <a class="list_link jump-link" href="{{tool.link.url}}">
                      <span class="jump-link_text">{{tool.link.label}}</span>
                    </a>
                  </div>
                {% endfor %}
              </section>
            </div>
          {% endif %}

          {% if steps|list|length %}
            <div class="{% if active_phase.tools %}steps-col{% endif %}">
              <section class="steps">
                <h1 class="h3">Action steps</h1>
                <div class="expandable-group">
                  {% for step in steps %}
                    <div class="expandable expandable__padded">
                      <button class="expandable_header expandable_target">
                        <span class="expandable_header-left expandable_label" {% if step.collapse_link %} id="{{step.collapse_link}}" {% endif %}>
                          {{loop.index}}. {{step.title|safe}}
                        </span>
                        <span class="expandable_header-right expandable_link">
                          <span class="expandable_cue-open">
                            <span class="u-visually-hidden">Show "{{step.title|safe}}" section</span>
                            <span class="cf-icon cf-icon-plus-round"></span>
                          </span>
                          <span class="expandable_cue-close">
                            <span class="u-visually-hidden">Hide "{{step.title|safe}}" section</span>
                            <span class="cf-icon cf-icon-minus-round"></span>
                          </span>
                        </span>
                      </button>
                      <div class="expandable_content u-mb15">
                        <div class="content-l content-l__main">

                          {% if step.content %}
                          <section class="{% if not active_phase.tools or step.key_tool%}content-l_col-2-3{% else %} content-l_col-1 {% endif %} content-l_col short-desc">
                            <p>
                            {{step.content|safe}}
                            </p>
                          </section>
                          {% endif %}

                          {% if step.key_tool %}
                          <section class="content-l_col-1-3 content-l_col block block__sub">
                            <h4 class="h6 u-mb10">
                              <span class="cf-icon cf-icon-attach"></span>&nbsp;Key tool
                            </h4>
                            <a class="jump-link" href="{{step.key_tool.url}}">
                              <span class="jump-link_text">{{step.key_tool.label}}</span>
                            </a>
                          </section>
                          {% endif %}

                        </div><!-- .content-l__main -->

                        {% if step.what_to_do_now %}
                        <section class="content-l__main content-l step">
                          <h1 class="content-l_col-1-4 content-l_col h6 u-mb10">
                            What to do now
                          </h1>
                          <article class="content-l_col-3-4 content-l_col ">
                          {{step.what_to_do_now|safe}}
                          </article>
                        </section>
                        {% endif %}

                        {% if step.what_to_know %}
                        <section class="content-l__main content-l step">
                          <h1 class="content-l_col-1-4 content-l_col h6 u-mb10">
                            What to know
                          </h1>
                          <article class="content-l_col-3-4 content-l_col">
                          {{step.what_to_know|safe}}
                          </article>
                        </section>
                        {% endif %}

                        {% if step.pitfalls_to_avoid %}
                        <section class="content-l__main content-l step">
                          <h1 class="content-l_col-1-4 content-l_col h6 u-mb10">
                            How to avoid pitfalls
                          </h1>
                          <article class="content-l_col-3-4 content-l_col ">
                          {{step.pitfalls_to_avoid|safe}}
                          </article>
                        </section>
                        {% endif %}

                        <div>
                          <a class="expandable_target bottom-close-link">
                            <span class="expandable_header-right expandable_link">
                              <span class="expandable_cue-close">
                                <span class="expandable_cue_text">Hide "{{step.title|safe}}" section</span>
                                <span class="cf-icon cf-icon-minus-round"></span>
                              </span>
                            </span>
                          </a>
                        </div>
                      </div>

                    </div>
                  {% endfor %}
                </div>
                <aside class="short-desc block block__bg block__sub block__bg-small">
                 <p> Visit our <a href="/owning-a-home/process/sources/">sources page</a> to learn more about the facts and numbers we reference.
                 </p>
                <p class="u-mb0">
                 <i>Note: The process and forms described on this page reflect <a href="/know-before-you-owe/" target="_blank">new mortgage regulations</a> that take effect for <a href="/askcfpb/2009/do-the-know-before-you-owe-disclosures-apply-to-my-mortgage.html" target="_blank">most mortgages</a> on October 3, 2015.</i>
                 </p>
                </aside>
              </section>
            </div>
          {% endif %}
        </div>
      </div>

      <h4>Ready for more? Explore another phase in the mortgage process.</h4>

      {{ nav_macro.render("bottom", active_phase.slug) }}

    </section> <!-- /.content_main -->
  </div>
</main>

{% endblock %}
