{% extends "base.html" %}
{% set active_page = "form-explainer" %}

{% block title %}Owning a Home: Closing Disclosure Explainer{% endblock title %}
{% block content %}
<div class="form-explainer {% if subnav %}col-9{% endif %}" role="main">
  <section class="wrap">
    <div class="wrapper">

      <div class="col-8 page-intro">
        <div class="oah-title-tag">
          <a href="/owning-a-home/" class="go-back-link l-back-link">Owning a Home</a>
        </div>

        <h1 class="page-title">Closing Disclosure Explainer</h1>
        <p class="lead">Your lender should provide your Closing Disclosure three business days before your scheduled closing. Make sure to set aside time to review your Closing Disclosure in advance of closing. Check to see that everything matches your expectations. If something looks different from what you expected, talk to the lender/broker about the reason for the difference. Pay attention for red flags. If the explanation isn’t satisfactory, keep asking questions. Know that walking away at closing may be better than signing a deal you’re not comfortable with.</p>
        <p>After you’ve reviewed below, make sure to <a class="pdf-link" href="{{ base_url }}resources/checklist_mortgage_closing.pdf">download our complete closing checklist</a>.</p>
        <a class="go-link" href="/owning-a-home/form-explainer/">Have a Loan Estimate, explore it now</a>
      </div><!-- /.col-8.page-intro -->

      <div class="col-4 illustration">
        <img src="../static/img/ill-form-explainer.png" alt="">
      </div><!-- /.col-4.illustration -->

      {# Import the form explainer macros #}
      {% import "form-explainer.html" as form_explainer %}
      {# Import the data to use with form explainer #}
      {% from "closing-disclosure-1.html" import data as page_1 %}
      {% from "closing-disclosure-2.html" import data as page_2 %}
      {% from "closing-disclosure-3.html" import data as page_3 %}
      {% from "closing-disclosure-4.html" import data as page_4 %}
      {% from "closing-disclosure-5.html" import data as page_5 %}
      {# Render form explainer with the data for this form #}
      <div class="col-12">
        {{ form_explainer.render([ page_1, page_2, page_3, page_4, page_5 ]) }}
      </div>

    </div><!-- /.wrapper -->
  </section><!-- /.wrap -->
</div><!-- /.form-explainer -->
{% endblock %}
