{% extends "base.html" %}
{% set active_page = "form-explainer" %}

{% block title %}Owning a Home: Mortgage forms explained{% endblock title %}

{% block content %}

<div class="wrap content-area">
    <div class="form-explainer {% if subnav %}col-9{% endif %}" role="main">
      <section>

        <div class="oah-title-tag">
          <a href="/owning-a-home/" class="go-back-link l-back-link">Owning a Home</a>
        </div>

        <div class="page-intro">
          <h1 class="page-title">Loan Estimate Explainer</h1>
          <div class="wrapper">
            <div class="col-9">
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus illum quae aliquid quis vero saepe soluta pariatur harum alias ab odio facilis autem temporibus? Laudantium natus nulla possimus amet qui.</p>
              <a class="go-link" href="#">Go to Closing Disclosure Explainer</a>
            </div>            
          </div>
        </div><!-- /.page-intro -->

        {# Import the form explainer macros #}
        {% import "form-explainer.html" as form_explainer %}
        {# Import the data to use with form explainer #}
        {% from "loan-estimate-form-page-1.html" import data as page_1 %}
        {% from "loan-estimate-form-page-2.html" import data as page_2 %}
        {# Render form explainer with the data for this form #}
        {{ form_explainer.render([ page_1, page_2 ]) }}

      </section>
    </div><!-- /.form-explainer -->
</div> <!-- /.wrap -->

{% endblock %}
