{% extends "base.html" %}
{% set active_page = "form-explainer" %}

{% block title %}Owning a Home: Mortgage forms explained{% endblock title %}

{% block content %}

<div class="wrap content-area">
    <div class="form-explainer {% if subnav %}col-9{% endif %}" role="main">
      <section>

        <div class="oah-title-tag">
          <a href="/owning-a-home/" class="go-back-link l-back-link">Owning a Home</a>
        </div>

        <div class="page-intro">
          <h1 class="page-title">Form explainer</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus illum quae aliquid quis vero saepe soluta pariatur harum alias ab odio facilis autem temporibus? Laudantium natus nulla possimus amet qui.</p>
        </div><!-- /.page-intro -->

        <figure class="explain" aria-controls="form-explainer">

          <div class="image-map explain_image-map">
            <div class="image-map_wrapper">
              <img class="image-map_image" src="/static/img/form-explainer-loan-estimate-sample.gif" alt="">
              <a class="image-map_point" style="left:4%;top:15%;" href="#1">1</a>
              <a class="image-map_point" style="left:4%;top:50%;" href="#2">2</a>
              <a class="image-map_point" style="left:50%;top:50%;" href="#3">33</a>
            </div>
          </div><!-- /.image-map -->

          <figcaption class="terms explain_terms">
            <div class="expandable expandable__padded">
              <button class="expandable_header expandable_target">
                <span class="expandable_header-left expandable_label">
                    Term 1
                </span>
                <span class="expandable_header-right expandable_link">
                  <span class="expandable_cue-open">
                    <span class="u-visually-hidden">Show</span>
                    <span class="cf-icon cf-icon-plus"></span>
                  </span>
                  <span class="expandable_cue-close">
                    <span class="u-visually-hidden">Hide</span>
                    <span class="cf-icon cf-icon-minus"></span>
                  </span>
                </span>
              </button>
              <div class="expandable_content">
                <p>
                  Is your name and contact information correct (including spelling)?  If not, ask the lender to correct it.  Even minor misspellings and other errors can cause big problems later.
                </p>
              </div>
            </div>
          </figcaption><!-- /.terms -->

        </figure><!-- ./explain -->

      </section>
    </div><!-- /.form-explainer -->
</div> <!-- /.wrap -->

{% endblock %}
