{% extends "base.html" %}

{% block title %}Owning a Home: Loan Types{% endblock title %}

{% block content %}

<div class="wrap content-area">
  <div class="wrapper">

  <section class="main-content col-9" role="main">

    {% include "loan_types_subpage_heading.html" %}

    <section class="loan-program" id="fha">
      <h4 class="subheading">FHA loan</h4>

      <p>FHA loans are regulated and guaranteed by the <a href="http://portal.hud.gov/hudportal/HUD?src=/buying/loans" id="external-fha-link">Federal Housing Administration(FHA)</a>. The FHA doesn’t lend the money directly – private lenders do.</p>

      <ul>
        <li>Allow for down payments as low as 3.5%.</li>
        <li>Allow lower credit scores than most conventional loans.</li>
        <li>Charge relatively high premiums for mortgage insurance, which can make the loans more expensive overall. Have a maximum loan amount that varies by county. Learn your FHA loan limit </li>
      </ul>
    </section> <!-- /.#fha -->
  </section> <!-- /.loan-programs -->

  </section> <!-- /.main-content -->
  </div> <!-- /.wrapper -->
</div><!--  /.wrap -->
{% endblock %}

