{% extends "base.html" %}
{% set active_page = "loan-types" %}

{% block title %}Owning a Home: Loan Types{% endblock title %}

{% block content %}

<main class="content content__2-1 content__bleedbar" id="main" role="main">
  <div class="wrap content_wrapper">
    <section class="content_main" id="fha">
      {% include "loan_types_subpage_heading.html" %}

      <h4 class="subheading">FHA loan</h4>

      <p>FHA loans are regulated and guaranteed by the <a href="http://portal.hud.gov/hudportal/HUD?src=/buying/loans" id="external-fha-link">Federal Housing Administration(FHA)</a>. The FHA doesn’t lend the money directly – private lenders do.</p>

      <ul>
        <li>Allow for down payments as low as 3.5%.</li>
        <li>Allow lower credit scores than most conventional loans.</li>
        <li>Charge relatively high premiums for mortgage insurance, which can make the loans more expensive overall. Have a maximum loan amount that varies by county. Learn your FHA loan limit </li>
      </ul>
    </section> <!-- /.content_main -->
    <aside class="content_sidebar">
        Bleeding sidebar
    </aside>
  </div>
</main>
{% endblock %}

