{% extends "base.html" %}
{% set active_page = "mortgage-closing" %}
{% block title %}Mortgage Closing &gt; Consumer Financial Protection Bureau{% endblock title %}
{% block content %}
<main class="content content__2-1 content__bleedbar form-resources" id="main" role="main">
  <section class="hero hero__mortage-closing">
    <div class="hero_wrapper">
      <div class="hero_card">
        <article class="hero_preview">
            <header>
              <h1>Questions about your Closing Disclosure?</h1>
            </header>
            <p>Your Closing Disclosure is the official government form that lists all the final details about your mortgage loan. Our interactive sample Closing Disclosure helps you double-check the details and get definitions for terms used on the form.</p>
            <footer>
              <a class="jump-link jump-link__right" href="/owning-a-home/closing-disclosure/">
                  <span class="jump-link_text">Explore the Closing Disclosure tool</span>
              </a>
            </footer>
        </article>
      </div>
      <div class="hero_img-container">
        <div class="hero_img"></div>
      </div>
    </div>
  </section>
  <!-- .hero -->
  <div class="content_wrapper">
    <section class="content_main">
      <h2 class="h1">Questions about your closing?</h2>
      <p class="short-desc short-desc__large">We can help. The Consumer Financial Protection Bureau (CFPB) is a government agency created to ensure that prices are clear upfront, risks are visible, and nothing is buried in fine print.</p>
      <p>Closing is one of the most important parts of the mortgage process. It’s where you legally commit to your mortgage loan. Our checklists and tools will help you close with confidence.</p>
      <h3 class="u-mt30 u-mb20">What to do now</h3>
      <h4 class="u-mb5">1. Review your Closing Disclosure</h4>
      <p class="u-mb15">It’s important to review your Closing Disclosure before closing. Make sure everything is as you expect in advance, while you still have time to ask questions and correct any errors.</p>
      <p class="u-mb30">
        <a href="/owning-a-home/closing-disclosure/" class="jump-link">
          <span class="icon-link_text">Review our interactive sample Closing Disclosure</span>
        </a>
      </p>
      <h4 class="u-mb5">2. Get ready for closing</h4>
      <p class="u-mb15">Our closing checklist lets you know what to expect at closing and what questions to ask so you will be prepared.</p>
      <p class="u-mb30">
        <a href="/owning-a-home/process/compare/" class="jump-link">
          <span class="icon-link_text">Get our closing checklist</span>
        </a>
      </p>
      <h4 class="u-mb5">3. Review the rest of your closing documents </h4>
      <p class="u-mb15">In addition to your Closing Disclosure, there are other important documents you will need to sign at closing, such as the promissory note and the deed of trust. Get a head start on reviewing these documents by asking your closing agent for a copy of your closing packet in advance. We can help you navigate these documents.</p>
      <p class="u-mb30">
        <a href="/owning-a-home/resources/mortgage_closing_forms.pdf" class="jump-link jump-link__pdf">
          <span class="icon-link_text">Navigate your closing documents</span>
        </a>
      </p>
      <h4 class="u-mb5">4. Get any errors fixed now, before closing. </h4>
      <p class="u-mb15">If you find an error in one of your closing documents, call your loan officer or settlement agent and get the error fixed right away. Even minor misspellings can delay your closing or cause big problems in the future.</p>
      <p class="u-mb30">
        <a href="/askcfpb/1917/what-should-i-do-if-i-find-an-error-in-one-of-my-mortgage-closing-documents.html" class="jump-link">
          <span class="icon-link_text">Learn more about what to do if you find an error</span>
        </a>
      </p>
    </section>
    <!-- .content_main -->
    <aside class="content_sidebar">
      <!-- STAY TUNED -->
      <section class="block u-mt0">
        <header class="tabbed-header tabbed-pad-top">
          <h3 class="subhead tabbed-heading">Resources</h3>
        </header>
        <p><a href="/owning-a-home/">Owning a Home: Tools and resources for home buyers</a></p>
        <p><a href="/f/201503_cfpb_your-home-loan-toolkit-web.pdf">Your home loan toolkit: A step by step guide <span class="cf-icon cf-icon-pdf"></span></a></p>
        <p><a href="/find-a-housing-counselor/">Find a housing counselor</a></p>
        <p><a href="/complaint/#mortgage">Submit a complaint about problems with your mortgage lender</a></p>
      </section>
      <section class="block u-mt0">
        <header class="tabbed-header tabbed-pad-top u-mb45">
          <h3 class="subhead tabbed-heading">For industry professionals</h3>
        </header>
        <h4 class="h6">For lenders</h4>
        <p><a href="/regulatory-implementation/">Get videos, compliance guides, and other resources.</a></p>
        <h4 class="h6">For real estate professionals</h4>
        <p><a href="/know-before-you-owe/real-estate-professionals/">Learn how the new disclosure forms help you and your clients</a></p>
      </section>
    </aside>
    <!-- .content_sidebar -->
  </div>
</main>
{% endblock %}
