{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}Owning a Home{% endblock title %}

{% block content %}
<main class="content content__2-1 content__bleedbar" id="main" role="main">

    <section class="content_hero">

      <!-- BACKGROUND IMAGE FOR THE HERO -->
      <div id="hero-bg-image"></div>

       <!-- HERO -->
      <div class="content_wrapper content_no-sidebar">
          <section class="content_main">
            <h1>Owning a Home</h1>
            <h2>We're here to help you with your home-buying process. Learn what to expect and what questions to ask, and get tools and resources to help you make decisions.</h2>
          </section>
      </div>
    </section>

    <div class="content_wrapper">
        <section class="content_main">

          <section class="section__intro content-l">
            <div class="content-l_col content-l_col-1-2">
              <h2>Know the process</h2>
              <p>Buying a home can be a daunting process. If you're feeling overwhelmed, you're not alone. We've got tools and resources to help you every step of the way.</p>
            </div>

            <div class="content-l_col content-l_col-1-2 oah-illu">
              <img src="{{url_for('static', filename='img/process.png')}}" alt="Illustration of the home-buying process">
          </div>
          </section>

          <section class="section__phase block__border-top block__padded-top block__sub">

            <div class="content-l">
              <figure class="phase_illu content-l_col content-l_col-1-4">
                <img src="{{url_for('static', filename='img/process_prepare-small.png')}}" alt="Illustration of the home-buying process">
              </figure>

              <div class="phase_intro content-l_col content-l_col-1-2">
                <div class="content-l_col content-l_col-1 content-l__large-gutters">
                <h3 class="u-mb15"><a href="{{ base_url }}process/prepare" class="heading_link" id="prepare-header-link">Prepare to shop</a></h3>
                <p>Not sure how to get started, how much you can afford, or what to expect when buying a home? Set yourself up for success with a little bit of preparation.</p>
                <p>
                  <a class="icon-link icon-link__right" href="{{ base_url }}process/prepare" id="prepare-learn-link">
                    <span class="icon-link_text">Learn more</span>
                  </a>
                </p>
                </div>
              </div>

               <div class="phase_tools content-l_col content-l_col-1-4 block__sub grid_column__left-divider">
                <h6 class="block__sub block__flush-top">Key tools</h6>
                <ul class="list__unstyled list__spaced">
                  <li class="list_item"><a href="{{ base_url }}check-rates">Explore interest rates</a></li>
                  <li class="list_item"><a href="{{ base_url }}resources/payment_worksheet.pdf">Monthly payment worksheet</a></li>
                </ul>
              </div>

            </div><!-- .content-l -->

          </section>

          <section class="section__phase block__border-top block__padded-top block__sub">

            <div class="content-l">

              <figure class="phase_illu content-l_col content-l_col-1-4">
                <img src="{{url_for('static', filename='img/process_explore-small.png')}}" alt="Illustration of the home-buying process">
              </figure>

              <div class="phase_intro content-l_col content-l_col-1-2">
                <div class="content-l_col content-l_col-1 content-l__large-gutters">
                <h3 class="u-mb15"><a href="{{ base_url }}process/explore" class="heading_link" id="explore-header-link">Explore loan options</a></h3>
                <p>You've got a pretty good idea of your priorities and budget, and you're ready to start home shopping in earnest. Now is the time to start exploring loan options and meeting with lenders.</p>
                <p>
                  <a class="icon-link icon-link__right" href="{{ base_url }}process/explore" id="explore-learn-link">
                    <span class="icon-link_text">Learn more</span>
                  </a>
                </p>
                </div>
              </div>

              <div class="phase_tools content-l_col content-l_col-1-4 block__sub grid_column__left-divider">
                <h6 class="block__sub block__flush-top">Key tools</h6>
                <ul class="list__unstyled list__spaced">
                  <li class="list_item"><a href="{{ base_url }}check-rates">Explore interest rates</a></li>
                  <li class="list_item"><a href="{{ base_url }}loan-options">Understand loan options</a></li>
                </ul>
              </div>

            </div><!-- .content-l -->

          </section>

            <section class="section__phase block__border-top block__padded-top block__sub">

            <div class="content-l">

              <figure class="phase_illu content-l_col content-l_col-1-4">
                <img src="{{url_for('static', filename='img/process_compare-small.png')}}" alt="Illustration of the home-buying process">
              </figure>

              <div class="phase_intro content-l_col content-l_col-1-2">
                <div class="content-l_col content-l_col-1 content-l__large-gutters">
                <h3 class="u-mb15"><a href="{{ base_url }}process/compare" class="heading_link" id="compare-header-link">Compare loan offers</a></h3>
                <p>You've made an offer on a home. Congratulations! Now is the time to get official loan offers from lenders, compare your options, and choose the loan offer that's right for you.</p>
                <p>
                  <a class="icon-link icon-link__right" href="{{ base_url }}process/compare" id="compare-learn-link">
                    <span class="icon-link_text">Learn more</span>
                  </a>
                </p>
                </div>
              </div>

               <div class="phase_tools content-l_col content-l_col-1-4 block__sub grid_column__left-divider">
                <h6 class="block__sub block__flush-top">Key tools</h6>
                <ul class="list__unstyled list__spaced">
                  <li class="list_item"><a href="{{ base_url }}check-rates">Explore interest rates</a></li>
                  <li class="list_item"><a href="{{ base_url }}loan-estimate">Loan Estimate explainer</a></li>
                </ul>
              </div>

            </div><!-- .content-l -->
          </section>

          <section class="section__phase block__border-top block__padded-top block__sub">

              <div class="content-l">

                <figure class="phase_illu content-l_col content-l_col-1-4">
                  <img src="{{url_for('static', filename='img/process_close-small.png')}}" alt="Illustration of the home-buying process">
                </figure>

                <div class="phase_intro content-l_col content-l_col-1-2">
                  <div class="content-l_col content-l_col-1 content-l__large-gutters">
                  <h3 class="u-mb15"><a href="{{ base_url }}process/close" class="heading_link" id="close-header-link">Get ready to close</a></h3>
                  <p>You've chosen a loan offer and are ready to move forwards to closing. There will be lots of paperwork to submit and things to keep track of. We lay it out for you step by step.</p>
                  <p>
                    <a class="icon-link icon-link__right" href="{{ base_url }}process/close" id="close-learn-link">
                      <span class="icon-link_text">Learn more</span>
                    </a>
                  </p>
                  </div>
                </div>

                <div class="phase_tools content-l_col content-l_col-1-4 block__sub grid_column__left-divider">
                  <h6 class="block__sub block__flush-top">Key tools</h6>
                  <ul class="list__unstyled list__spaced">
                    <li class="list_item"><a href="{{ base_url }}resources/checklist_mortgage_closing.pdf">Closing checklist</a></li>
                    <li class="list_item"><a href="{{ base_url }}closing-disclosure">Closing Disclosure explainer</a></li>
                    <li class="list_item"><a href="{{ base_url }}resources/mortgage_closing_forms.pdf">Guide to closing forms</a></li>
                  </ul>
                </div>

            </div><!-- .content-l -->
          </section>

        </section><!-- .content_main -->

        <aside class="content_sidebar">
            <!-- STAY TUNED -->
          <header class="tabbed-header tabbed-pad-top">
            <h3 class="subhead tabbed-heading">Stay tuned</h3>
          </header>
          <p>We’re already working on more tools that make it easier to shop for a mortgage and help you understand the mortgage process. Sign up for our email list, and we’ll let you know when we add more resources.</p>

          <form class="signup2 inline-signup" id="signup" action="https://public.govdelivery.com/service/process_ss.xml" method="GET" data-thanks="Thanks, we’ll be in touch!">
            <input type="hidden" name="code" value="USCFPB_46">
            <label for="email" class="u-visually-hidden">Email address</label>
            <input type="email" id="email" name="email" placeholder="Enter your email address">
            <fieldset class="submit_btn"><p><button id="beta-btn" class="btn">Sign up</button></p></fieldset>
          </form>

          <!-- RELATED LINKS -->
          <header class="tabbed-header tabbed-pad-top">
            <h3 class="subhead tabbed-heading">Related links</h3>
          </header>

          <ul class="list list__links list__spaced">
            <li class="list_item">
              <span class="jump-link_intro">Looking for home buying help or struggling to repay your mortgage?</span>
              <a class="list_link jump-link jump-link__right jump-link__bg" href="/find-a-housing-counselor/" target="_blank">
                <span class="jump-link_text">Find a HUD-approved housing counselor</span>
              </a>
            </li>
            <li class="list_item">
              <span class="jump-link_intro">Have more mortgage questions?</span>
              <a class="list_link jump-link jump-link__right jump-link__bg" href="/askcfpb/search/?selected_facets=category_exact:mortgages" target="_blank">
                <span class="jump-link_text">Get answers to common questions</span>
              </a>
            </li>
            <li class="list_item">
              <span class="jump-link_intro">Have a complaint about your mortgage?</span>
              <a class="list_link jump-link jump-link__right jump-link__bg" href="/complaint/#mortgage" target="_blank">
                <span class="jump-link_text">Submit a mortgage complaint</span>
              </a>
            </li>
            <li class="list_item">
              <span class="jump-link_intro">Want to see if a loan officer or broker is authorized in your state?</span>
              <a class="list_link jump-link jump-link__external-link jump-link__bg" href="http://www.nmlsconsumeraccess.org/" target="_blank">
                <span class="jump-link_text">Most are listed in this loan originator database</span>
              </a>
            </li>
            <li class="list_item">
              <span class="jump-link_intro">Wondering about our other mortgage work?</span>
              <a class="list_link jump-link jump-link__right jump-link__bg" href="/mortgage/" target="_blank">
                <span class="jump-link_text">Learn how CFPB is protecting mortgage borrowers</span>
              </a>
            </li>
          </ul>
        </aside><!-- .content_sidebar -->
    </div>

</main>

<script type="text/javascript">
// $(function(){
  document.getElementById('primary-content').className += ' index';
// });
</script>


{% endblock %}
