{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}Owning a Home{% endblock title %}

{% block content %}

<!-- BACKGROUND IMAGE FOR THE HERO -->
<div id="hero-bg-image"></div>

<div class="wrap content-area">
  <!-- HERO -->
  <div class="wrapper hero-wrapper">
    <div class="col-7">
      <h1>Owning a Home</h1>
      <h2>We’re here to help you with your home buying process. Just starting out? Learn your loan options. About to close? A checklist makes it less stressful.</h2>
    </div>
  </div> <!-- /.wrapper -->

  <!-- CONTENT -->
  <div class="wrapper index-content">
    <div class="col-8">
      <!-- LEFT CONTENT -->
      <div class="wrapper index-left-content">

        <div class="col-6">
          <h2>Starting to think about buying a home?</h2>
          <p>The home buying process can feel overwhelming. We’re here to equip you with key information early so you can save time—and money—later.</p>
        </div> <!-- /.col-6 -->

        <div class="col-6">
          <h4>Understanding loan options</h4>

          <p>Learn how your choice of mortgage affects the amount you’ll pay, what options are best for your situation, and how to get the best deal.</p>
          <p><a class="go-link" href="{{ base_url }}loan-options">Learn more about loan options</a></p>

        </div> <!-- /.col-6 -->
      </div> <!-- /.wrapper -->

      <div class="wrapper border-sep">
        <div class="col-6">
          <h2>Getting ready for closing?</h2>
          <p>Congratulations! You’re almost done. Before you commit yourself to a loan, use our resources to make sure you feel confident and prepared.</p>
        </div> <!-- /.col-6 -->

        <div class="col-6">
          <h4>Closing checklist</h4>

          <p>Prepare for closing by learning your rights, key questions to ask, and common mistakes.</p>
          <p><a class="pdf-link" href="{{ base_url }}resources/checklist_mortgage_closing.pdf">Get the closing checklist</a></p>


          <h4>Closing documents explained</h4>
          <p>Learn about the key forms you’ll get at closing and what important information to look for in each.</p>
          <p><a class="pdf-link" href="{{ base_url }}resources/mortgage_closing_forms.pdf">Get the closing forms explainer</a></p>

        </div> <!-- /.col-6 -->

      </div> <!-- /.wrapper -->
    </div>

    <div class="col-4 gray-box">
      <!-- STAY TUNED -->
      <header class="tabbed-header tabbed-pad-top">
        <h3 class="subhead tabbed-heading">Stay tuned</h3>
      </header>
      <p>We’re already working on more tools that make it easier to shop for a mortgage and help you understand the mortgage process. Sign up for our email list, and we’ll let you know when we add more resources.</p>

      <form class="signup inline-signup" id="signup" action="https://public.govdelivery.com/service/process_ss.xml" method="GET" data-thanks="Thanks, we’ll be in touch!">
        <input type="hidden" name="code" value="USCFPB_46">
        <label for="email" class="visuallyhidden">Email address</label>
        <input type="email" id="email" name="email" placeholder="Enter your email address">
        <button id="beta-btn" class="btn">Sign up</button>
      </form>
            
      <!-- RELATED LINKS -->
      <header class="tabbed-header tabbed-pad-top">
        <h3 class="subhead tabbed-heading">Related links</h3>
      </header>

      <ul class="links-ul">
        <li>Looking for home buying help or struggling to repay your mortgage?<br />
          <a class="link-with-icon link-icon-two-liner" href="http://www.consumerfinance.gov/find-a-housing-counselor/">Find a HUD-approved housing<br /> counselor <span class="cf-icon cf-icon-right"></span></a></li>
        <li>Have more mortgage questions?<br />
          <a class="go-link" href="http://www.consumerfinance.gov/askcfpb/search/?selected_facets=category_exact:mortgages">Get answers to common questions</a></li>
        <li>Have a complaint about your mortgage? <br />
          <a class="go-link" href="http://www.consumerfinance.gov/complaint/#mortgage">Submit a mortgage complaint</a></li>
        <li>Wondering about our other mortgage work? <br />
          <a class="link-with-icon link-icon-two-liner" href="http://www.consumerfinance.gov/mortgage/">Learn how CFPB is protecting mortgage borrowers <span class="cf-icon cf-icon-right"></span></a></li>
      </ul>
    </div>
  </div>

</div> <!-- /. wrap content-area -->

<script type="text/javascript">
// $(function(){
  document.getElementById('primary-content').className += ' index';
// });
</script>


{% endblock %}
