{% extends "base.html" %}
{% set active_page = "loan-types" %}

{% block title %}Owning a Home: Loan Types{% endblock title %}

{% block content %}

<div class="wrap content-area">
  <div class="wrapper">

    {% with active_page = "loan-types" %}
      {% include "sidebar_nav.html" %}
    {% endwith %}

  <section class="main-content col-9" role="main">

  <h1>Understanding loan types</h1>

  <p class="lead">The type of mortgage you choose has a big impact on how much you end up paying – how much you owe upfront, your monthly payment amount, and the total cost of your loan over time. Knowing what type of loan is most appropriate for your situation prepares you for talking to lenders and getting the best deal.</p>

    <div class="subsection-hero">
      <div class="subsection-hero-wrap">
        <p>A loan “type” is actually a combination of several different options:</p>
        <ol class="loan-type-list">
          <li>Loan term</li>
          <li>Interest rate structure</li>
          <li>Loan program</li>
        </ol>
      </div>
    </div>

    <section class="type-details">

        <div class="expandable mega-expand">
            <header class="expandable-header" id="loan-term-expand-header">
              <div class="expandable-mainhead">
                <div class="expandable-title">
                  <h2 class="expandable-heading">Loan term</h2>
                </div>
                <div class="expandable-link">
                  <a href="" class="btn btn-link expandable-button" id="loan-term-expand-toggle">
                  <span class="expandable-text">Learn More</span> <i class="icon-plus-sign"></i>
                    </a>
                </div>
              </div> <!-- /.expandable-mainhead -->
                <div class="expandable-subhead">
                  <div class="col-4">
                    <p class="sub light caps">30 years, 15 years, or other term</p>
                  </div>

                  <div class="col-8">
                    <p>The term of your loan is how long it will take to repay the loan.</p>

                    <h4 class="list-heading">This choice affects:</h4>

                      <ul>
                        <li>Your monthly payment</li>
                        <li>How much interest you will pay over the life of the loan</li>
                      </ul>
                  </div>
                </div>
            </header>

            <div class="expandable-content expandable-hidden">
                <div class="expandable-inner">

                <div class="comparison">
                  <h4 class="subheading">Shorter term:</h4>
                  <ul>
                    <li><i class="cf-icon cf-icon-arrow-up"></i> Higher monthly payments</li>
                    <li><i class="cf-icon cf-icon-arrow-down"></i> Lower total cost</li>
                  </ul>
                </div>

                <div class="comparison">
                  <h4 class="subheading">Longer term:</h4>
                  <ul>
                    <li><i class="cf-icon cf-icon-arrow-down"></i> Lower monthly payments</li>
                    <li><i class="cf-icon cf-icon-arrow-up"></i> Higher total cost</li>
                  </ul>
                </div>

              </div> <!-- /.expandable-inner -->
                  <div class="loan-calc sans">
                    <p class="loan-details">
                      For a loan amount of
                      <input id="loan-amount-value" class="value" value="$200,000"></input>
                      an interest rate of
                      <input id="loan-interest-value" class="value" value="5%"></input>
                      and a loan term of:</p>
                  <!--</div> /.loan-calc -->

                    <ul class="timeline term-timeline">
                      <li><a href="#" data-term="10">
                          <span class="loan-length">10</span>
                          <span class="year">Year</span>
                      </a></li>
                      <li><a href="#" data-term="15">
                          <span class="loan-length">15</span>
                          <span class="year">Year</span>
                      </a></li>
                      <li><a href="#" data-term="20">
                          <span class="loan-length">20</span>
                          <span class="year">Year</span>
                      </a></li>
                      <li><a href="#" data-term="25">
                          <span class="loan-length">25</span>
                          <span class="year">Year</span>
                      </a></li>
                      <li><a href="#" data-term="30" class="current">
                          <span class="loan-length">30</span>
                          <span class="year">Year</span>
                      </a></li>
                      <li><a href="#" data-term="40">
                          <span class="loan-length">40</span>
                          <span class="year">Year</span>
                      </a></li>
                    </ul>
                  </div> <!-- /.loan-calc -->
                    <ul class="term-output">
                        <li>
                          <span class="col-7">
                            Your monthly principal and interest payment would be:
                          </span>
                          <span id="monthly-payment" class="col-5 loan-value">$1,073.64</span>
                        </li>
                        <li>
                          <span class="col-7">
                            Your total interest cost would be:
                          </span>
                          <span id="total-interest" class="col-5 loan-value">$186,511.57</span>
                        </li>
                    </ul> <!-- /.term-output -->

                    <p class="note">NOTE: This tool calculates principal and interest payments so you can see the impact of different loan terms. Your total monthly payment will typically be several hundred dollars higher due to taxes and insurance.</p>

                    <h3 class="section-heading">What to know</h3>

                    <p>Shorter terms will generally save you money overall, but have higher monthly payments. There two reasons shorter terms can save you money:  </p>

                    <ol>
                      <li>You are borrowing money and paying interest for a shorter amount of time.</li>
                      <li>The interest rate is usually lower — by as much as a full percentage point — with a shorter term than with a longer term.</li>
                    </ol>

                    <p>Rates are different at different lenders, especially for less-common terms. Don’t rely on rules of thumb to make your decision. Always compare official loan offers (<a href="http://www.consumerfinance.gov/askcfpb/" id="good-faith-link">Good Faith Estimates</a>) to make sure you’re getting the right deal for you.</p>
                <a href="#" class="expand-close">Collapse loan terms <i class="cf-icon cf-icon-minus-round"></i></a>
            </div> <!-- /.expandable-content -->
        </div>
        <div class="expandable mega-expand">
            <header class="expandable-header" id="interest-rate-expand-header">
              <div class="expandable-mainhead">
                <div class="expandable-title">
                  <h2 class="expandable-heading">Interest rate structure</h2>
                </div>
                <div class="expandable-link">
                  <a href="" class="btn btn-link expandable-button" id="interest-rate-expand-toggle">
                  <span class="expandable-text">Learn More</span> <i class="icon-plus-sign"></i>
                    </a>
                </div>
              </div> <!-- /.expandable-mainhead -->
                <div class="expandable-subhead">
                  <div class="col-4">
                    <p class="sub light caps">Fixed rate or Adjustable rate</p>
                  </div>

                  <div class="col-8">
                    <p>Interest rates come in two basic types: fixed and adjustable.</p>

                    <h4 class="list-heading">This choice affects:</h4>

                      <ul>
                        <li>Whether or not your monthly payment amount can change</li>
                        <li>The amount of your monthly payment</li>
                        <li>How much interest you will pay over the life of the loan</li>
                      </ul>
                  </div>
                </div>
            </header>

            <div class="expandable-content expandable-hidden">

              <h3>What are my choices for interest rate structure?</h3>

              <div class="expandable-main-content">

                <div class="comparison">
                  <h4 class="subheading">Fixed rate</h4>
                    <ul class="comparison-main rate-comparison">
                      <li><i class="cf-icon cf-icon-arrow-down"></i> Lower risk; No suprises</li>
                      <li><i class="cf-icon cf-icon-arrow-up"></i> Higher interest rate</li>
                      <li><i class="cf-icon cf-icon-error-round alert-positive"></i> Rate and payments stay the same</li>
                    </ul>

                    <div class="sub-comparison">
                      <header class="sub-comparison-header">
                        <h5 class="sub-comparison-heading">How Does It Work?</h5>
                      </header>
                      <div class="sub-comparison-content">
                        <p>Your rate stays the same throughout the loan.</p>
                      </div>
                    </div>

                    <div class="sub-comparison">
                      <header class="sub-comparison-header">
                        <h5 class="sub-comparison-heading">why might you choose this?</h5>
                      </header>
                      <div class="sub-comparison-content">
                        <p>Fixed rates offer certainty throughout the life of the loan.</p>
                      </div>
                    </div>

                    <div class="sub-comparison">
                      <header class="sub-comparison-header">
                        <h5 class="sub-comparison-heading">What to know</h5>
                      </header>
                      <div class="sub-comparison-content">
                        <p>Your interest rate and monthly <a href="http://www.consumerfinance.gov/askcfpb/" id="ask-principal">principal and interest</a> payment will stay the same over the term of your loan.</p>

                        <p>Your <strong>total monthly payment</strong> (including property taxes, homeowner’s insurance, and mortgage insurance) can change over time. <a href="http://www.consumerfinance.gov/askcfpb/" id="ask-payment-more">Learn more</a></p>
                      </div>
                    </div>

                    <div class="callout">
                      <h6 class="date-heading">Since 2008:</h6>
                      <p>Chosen by <strong>85-90%</strong> of buyers</p>

                      <h6 class="date-heading">Historically:</h6>
                      <p>Chosen by <strong>70-75%</strong> of buyers</p>
                    </div>

                </div> <!-- /.comparison -->

                <div class="comparison">
                  <h4 class="subheading">Adjustable rate</h4>
                    <ul class="comparison-main rate-comparison">
                      <li><i class="cf-icon cf-icon-arrow-up"></i> Higher risk; Uncertainty</li>
                      <li><i class="cf-icon cf-icon-arrow-down"></i> Lower interest rate to start</li>
                      <li><i class="cf-icon cf-icon-error-round alert-warning"></i> Rate and payments can increase over time</li>
                    </ul>

                    <div class="sub-comparison">
                      <header class="sub-comparison-header">
                        <h5 class="sub-comparison-heading secondary-sub-heading">How Does It Work?</h5>
                      </header>
                      <div class="sub-comparison-content">
                        <p>Your interest rate typically will be fixed for the first few years of the loan.</p>
                        <p>Once the fixed period expires, the rate will adjust at regular intervals based on the market.</p>
                      </div>
                    </div>

                    <div class="sub-comparison">
                      <header class="sub-comparison-header">
                        <h5 class="sub-comparison-heading secondary-sub-heading">why might you choose this?</h5>
                      </header>
                      <div class="sub-comparison-content">
                        <p>Your initial interest rate may be lower than on a fixed rate loan.</p>
                        <p>If you plan to move again soon, the initial fixed period of an ARM may be all the certainty you need.</p>
                      </div>
                    </div>

                    <div class="sub-comparison">
                      <header class="sub-comparison-header">
                        <h5 class="sub-comparison-heading secondary-sub-heading">What to know</h5>
                      </header>
                      <div class="sub-comparison-content">
                        <p>Your interest rate can change based on the market. Your monthly principal &amp; interest payment can go up by a lot — maybe even double.</p>
                      </div>
                    </div>

                    <div class="callout">
                      <h6 class="date-heading">Since 2008:</h6>
                      <p>Chosen by <strong>15-20%</strong> of buyers</p>

                      <h6 class="date-heading">Historically:</h6>
                      <p>Chosen by <strong>25-30%</strong> of buyers</p>
                    </div>

                </div> <!-- /.comparison -->

              </div> <!-- /.expandable-main-content -->

              <h3 class="section-heading">Deciphering Adjustable Rate Mortgages (ARMs)</h3>

              <p>An Adjustable Rate Mortgage is made up of two periods. For the first period, your interest rate is fixed. At regular intervals throughout the second period, your rate changes based on the market.</p>

              <h4>Sample Adjustable Rate Mortgage</h4>

              <div class="arm-content">
                <div class="arm-fixed">
                  <h5 class="arm-heading"><span class="highlight">5</span> / 1 ARM: Fixed period</h5>
                  <p class="mid-lead">This “5” represents how many years your inital interest rate will stay fixed.</p>
                  <p class="sub">The most common options are 3, 5, 7, and 10 years.</p>
                </div> <!-- /.arm-fixed -->

                <div class="arm-adjustable">
                  <h5 class="arm-heading">5 / <span class="highlight">1</span> ARM: Adjustable  period</h5>
                  <p class="mid-lead">This “1” represents how often your rate changes after the fixed period expires.</p>
                  <p class="sub">The most common option is 1, meaning the rate will adjust every year. At each one of these intervals, you would receive a new rate with a new payment amount.</p>
                  <p class="sub">The changes to your rate will be based on the market conditions. <a href="http://www.consumerfinance.gov/askcfpb/" id="ask-rate-changes-more">Learn more</a></p>
                </div>
              </div> <!-- /.arm-content -->

              <div class="mega-callout l-bump">
                <h4 class="callout-heading"><i class="cf-icon cf-icon-error-round alert-warning icon-outdent"></i> What to watch out for</h4>

                <h5 class="callout-mid-heading">ARMs can have other structures.</h5>
                <p>If you’re considering a less common structure, make sure to carefully read the rules on when and how your rate and payment can adjust.</p>

                <h5 class="callout-mid-heading">Most ARMs include caps on how much your rate can adjust.</h5>
                <p>Make sure you understand how these caps work. In the past, some ARMs have also included a clause that says that the interest rate can only ever go up, not down. Make sure any loan you are considering does not have this clause!</p>

                <h5 class="callout-mid-heading">ARMs marketed to people with lower credit scores tend to be riskier.</h5>
                <p>If you have a credit score in the mid 600s or below you are more likely to be offered ARMs that contain risky features, such as higher rates, rates that adjust more frequently, and loan balances that can increase. Consult with multiple lenders and get a quote for an FHA loan as well, so you can compare all your options.</p>

              </div> <!-- /.mega-callout -->
              <a href="#" class="expand-close">Collapse interest rate structure <i class="cf-icon cf-icon-minus-round"></i></a>
            </div> <!-- /.expandable-content -->
        </div>
        <div class="expandable mega-expand">
            <header class="expandable-header" id="loan-programs-expand-header">
              <div class="expandable-mainhead">
                <div class="expandable-title">
                  <h2 class="expandable-heading">Loan program</h2>
                </div>
                <div class="expandable-link">
                  <a href="" class="btn btn-link expandable-button" id="loan-programs-expand-toggle">
                  <span class="expandable-text">Learn More</span> <i class="icon-plus-sign"></i>
                    </a>
                </div>
              </div> <!-- /.expandable-mainhead -->
                <div class="expandable-subhead">
                  <div class="col-4">
                    <p class="sub light caps">Conventional, FHA, or Special programs</p>
                  </div>

                  <div class="col-8">
                    <p>Loan options are organized into broad categories based on the size of the loan and whether or not they are part of a government program.</p>

                    <h4 class="list-heading">This choice affects:</h4>

                      <ul>
                        <li>How much you will need for a down payment</li>
                        <li>The total cost of your loan, including interest and mortgage insurance</li>
                        <li>The house price range you can consider</li>
                      </ul>
                  </div>
                </div>
            </header>

            <div class="expandable-content expandable-hidden">

              <p class="sans"><span class="up-lead">Program options in this section:</span> <a href="#conventional" id="conventional-link">Conventional,</a> <a href="#fha" id="fha-link">FHA,</a> <a href="#va" id="va-link">VA,</a> <a href="#usda" id="usda-link">USDA,</a> <a href="#local" id="local-link">State and local</a></p>

              <section class="loan-programs sans">

                <h3 class="section-heading">Standard Loan Programs</h3>

                <p>Each loan program is designed for different circumstances. Often, only one loan program will fit your target house price and down payment amount. If multiple options fit your situation, ask lenders to provide several quotes so you can see which program offers the best deal overall.</p>

                 <section class="loan-program" id="conventional">
                  <h4 class="subheading">Conventional loan</h4>

                  <p>“Conventional” just means that the loan is not part of a specific government program. Conventional loans typically have lower costs than FHA loans but stricter standards for approval. There are several types of conventional loans:</p>

                  <div class="wrapper">
                    <div class="col-4">
                      <h5 class="h5">Conforming</h5>
                      <ul class="standard-list loan-list">
                        <li><strong>The loan amount must be less than $417k.</strong></li>
                        <li>If your down payment is less than 20 percent, you will probably need to pay for private mortgage insurance.</li>
                      </ul>
                    </div>

                    <div class="col-4">
                      <h5 class="h5">Agency Jumbo</h5>
                      <ul class="standard-list loan-list">
                        <li>An extension of the conforming program for <strong>loan amounts higher than $417k.</strong></li>
                        <li>Only available in certain counties.</li>
                        <li>The maximum loan amount varies by county.</li>
                      </ul>
                    </div>

                    <div class="col-4">
                      <h5 class="h5">Nonconforming Jumbo</h5>
                      <ul class="standard-list loan-list">
                        <li>For loan amounts greater than the Agency Jumbo limit, this is the only option.</li>
                        <li>Eligibility rules vary from lender to lender, but you usually must have good credit and a high down payment.</li>
                      </ul>
                    </div>
                  </div> <!-- /.wrapper -->

                  <div class="mega-callout">
                    <h5 class="callout-mid-heading"><i class="cf-icon cf-icon-error-round alert-warning icon-outdent"></i> Shop Carefully.</h5>
                    <p>Most conventional loans will fall into one of these three categories, but lenders are not required to stick to them. Shop carefully and ask lots of questions if you are considering a conventional mortgage that does not fit into one of these categories.</p>

                    <h5 class="callout-mid-heading">Alternative Mortgages.</h5>
                    <p>Alternative mortgages – especially those marketed to people with lower credit scores – are more likely to contain risky features and have high rates. An FHA loan might be a better option if you have a credit score in the mid 600s or below. Make sure to consult with multiple lenders and get quotes for FHA loans as well so you can compare costs. And never make a final decision before getting your official <a href="http://www.consumerfinance.gov/askcfpb/" id="ask-conventional-good-faith">Good Faith Estimates</a>.</p>

                    <h5>Mortgage Insurance.</h5>
                    <p>Pay attention to it!</p>

                  </div> <!-- /.callout -->
                </section> <!-- /#conventional -->

                <section class="loan-program" id="fha">
                  <h4 class="subheading">FHA loan</h4>

                  <p>FHA loans are regulated and guaranteed by the <a href="http://portal.hud.gov/hudportal/HUD?src=/buying/loans" id="external-fha-link">Federal Housing Administration(FHA)</a>. The FHA doesn’t lend the money directly – private lenders do.</p>

                  <ul>
                    <li>Allow for down payments as low as 3.5%.</li>
                    <li>Allow lower credit scores than most conventional loans.</li>
                    <li>Charge relatively high premiums for mortgage insurance, which can make the loans more expensive overall. Have a maximum loan amount that varies by county. Learn your FHA loan limit </li>
                  </ul>
                </section> <!-- /.#fha -->
              </section> <!-- /.loan-programs -->

                <section class="loan-programs special-programs sans">
                  <h3>Special Loan Progams</h3>

                  <p>You might be eligible for special loan programs. They are always worth considering, but they may or may not offer the best deal. Always compare official loan offers (<a href="http://www.consumerfinance.gov/askcfpb/" id="ask-special-good-faith">Good Faith Estimates</a>) before making a final decision.</p>


                 <section class="loan-program" id="va">
                  <h4 class="subheading">VA loan</h4>

                  <p>The <a href="http://www.benefits.va.gov/homeloans/" id="va-external-link">Veterans Administration (VA)</a> has a loan program for veterans, current servicemembers, and surviving spouses.  It is similar to the <a href="#fha" id="va-fha-link">FHA program</a>, but partially subsidized by the VA, so it can offer a better deal for those who qualify.</p>

                  <p>VA loans are available with low or even zero down payments, but may be more expensive than <a href="#conventional" id="va-conventional-link">conventional loans</a>. Veterans or servicemembers with significant savings and good credit should compare VA and conventional loans to see which offers the better deal.</p>

                  <h4 class="subheading">USDA loan (Or Rural Development Loan)</h4>

                  <p>The <a href="http://www.rurdev.usda.gov/had-guaranteed_housing_loans.html" id="usda-external-link">US Department of Agriculture</a> offers a similar program to the FHA and VA, designed specifically for low- and moderate-income borrowers in rural areas.</p>

                  <p>USDA loans offer zero down payments and must be 30-year, fixed-rate loans.</p>

                  <p>It can sometimes be difficult to qualify for a standard, 30-year fixed <a href="#conventional" id="usda-conventional-link">conventional loan</a> in rural areas. USDA loans can be a good option for borrowers in this situation. </p>
                </section> <!-- /.#va -->

                <section class="loan-program" id="local">
                  <h4 class="subheading">State and Local Programs</h4>

                  <p>Many states, local governments, and local nonprofits offer various programs to help low- and moderate-income families buy their first home. Some programs may also be available to families who have previously owned a home.</p>

                  <p>Programs include down payment assistance programs that work in combination with an FHA or conventional loan, as well as subsidized loan programs.</p>

                  <p>If you think you might qualify, contact a <a href="http://www.consumerfinance.gov/find-a-housing-counselor/" id="hud-link">local housing counselor</a> to discuss your options. </p>

                  <div class="mega-callout">
                    <p><i class="cf-icon cf-icon-error-round alert-warning icon-outdent"></i> Mortgage insurance—no matter what kind—protects the lender in the event that you fall behind on your payments. It does not protect you. Your credit score will suffer and you may face foreclosure if you don’t pay your mortgage on time.  Learn more</p>
                  </div><!-- /.callout-->
                </section> <!-- /#local -->
              </section> <!-- /.loan-programs -->



              <a href="#" class="expand-close">Collapse loan programs <i class="cf-icon cf-icon-minus-round"></i></a>

            </div> <!-- /.expandable-content -->
        </div> <!-- /.expandable -->
    </section> <!-- /.type-details -->

  </section> <!-- /.main-content -->
  </div> <!-- /.wrapper -->
</div><!--  /.wrap -->
{% endblock %}

