{% extends "base.html" %}
{% set active_page = "loan-types" %}

{% block title %}Owning a Home: Loan options{% endblock title %}

{% block content %}

<main class="content content__2-1 content__bleedbar" id="main" role="main">
  <div class="wrap content_wrapper">
    <section class="content_main">
      {% include "loan_types_subpage_heading.html" %}

      <h2>Special Loan Progams</h2>

      <p>For people who qualify, special loan programs can be more affordable than a <a href="/loan-options/conventional-loans/">conventional</a> or <a href="/loan-options/FHA-loans/">FHA</a> loan, so make sure to check to see if you are eligible. Always compare official loan offers, called <a href="http://www.consumerfinance.gov/askcfpb/146/what-is-a-good-faith-estimate-what-is-a-gfe.html">Good Faith Estimates</a>, before making a final decision.</p>


      <section class="loan-program" id="va">
        <h3 class="subheading">VA loan</h3>

        <div class="wrapper">
          <div class="col-9">

            <p>The <a href="http://www.benefits.va.gov/homeloans/" id="va-external-link">Veterans Administration (VA)</a> has a loan program for <a href="http://www.benefits.va.gov/homeloans/purchaseco_certificate.asp">eligible</a> <strong>veterans, current servicemembers, and surviving spouses</strong>. The loans are made by private lenders and guaranteed by the VA. They are similar to <a href="/loan-options/fha-loans">FHA</a> loans but partially subsidized, so it might a better deal for <a href="http://www.consumerfinance.gov/askcfpb/294/im-in-the-military-active-guard-reserve-or-a-veteran-and-im-considering-buying-a-home-how-do-i-know-if-im-eligible-for-a-va-guaranteed-loan.html">those who qualify</a>.<br>
            VA loans: </p>
            <ul>
              <li>Often offer low-cost, streamlined refinance options and additional protections if you have trouble paying your mortgage later on.</li>
              <li>Do not require monthly mortgage insurance premiums, but usually require an upfront fee at closing. <a href="#mortgage-insurance">Learn more about mortgage insurance</a>.</li>
              <li>Are available with low or even zero down payments, but may be more expensive than <a href="/loan-options/conventional-loans/">conventional loans</a> if you have significant down payment funds and good credit.</li>
            </ul>
          </div>

          <div class="col-3">
            <h4 class="small-heading">Mortgage insurance</h4>
            <p class="sans">VA loans require an upfront fee at closing, but don’t have monthly mortgage insurance premiums.<br>
            <a href="#mortgage-insurance">Learn more below</a>.</p>
          </div>

        </div> <!-- /.wrapper-->
      </section> <!-- /.#va -->

      <section class="loan-program" id="usda">
        <h3 class="subheading">USDA loan (or Rural Development Loan)</h3>

        <div class="wrapper">
          <div class="col-9">

            <p>The <a href="http://www.rurdev.usda.gov/had-guaranteed_housing_loans.html" id="usda-external-link">US Department of Agriculture</a> offers a similar program to the FHA and VA, designed for <strong>low- and moderate-income borrowers in rural areas</strong>.</p>

            <p>USDA loans can be a good option for borrowers who have little available savings. They offer <strong>zero down payments</strong> and are usually cheaper than FHA loans. Borrowers will pay an upfront fee as well as ongoing <a href="#mortgage-insurance">mortgage insurance</a> premiums to the USDA.</p>

            <p><a class="external-link" href="http://eligibility.sc.egov.usda.gov/eligibility/welcomeAction.do">Find out if you're eligible.</a></p>
          </div>

          <div class="col-3">
            <h4 class="small-heading">Mortgage insurance</h4>
            <p class="sans">Required by <strong>all</strong> USDA loans. <a href="#mortgage-insurance">Learn more below</a>.</p>
          </div>

        </div> <!-- /.wrapper-->
      </section> <!-- /.#usda -->

      <section class="loan-program" id="local">
        <h3 class="subheading">State and Local Programs</h3>

        <div class="wrapper">
          <div class="col-9">

            <p>Many states, local governments, and nonprofits offer programs to make homeownership more affordable. Many of these programs focus on <strong>low- and moderate-income</strong> families buying their first home, though some may be available to families who have previously owned a home. Other programs target teachers, firefighters, and other public service employees, or people interested in purchasing a home in a particular neighborhood. </p>

            <p>Many programs offer down payment assistance that can be used with a regular <a href="/loan-options/FHA-loans/">FHA</a> or conventional loan. Some programs lend money directly through subsidized loans. </p>

            <p>If you think you might qualify, explore programs in your area using <a class="external-link" href="http://downpaymentresource.com/">this tool</a> or contact a <a href="http://www.consumerfinance.gov/find-a-housing-counselor/" id="hud-link">local housing counselor</a> to discuss your options. You can also ask local lenders whether they offer any special programs. </p>
          </div>

          <div class="col-3">
            <h4 class="small-heading">Mortgage insurance</h4>
            <p class="sans">Required by <strong>many</strong> state and local programs. <a href="#mortgage-insurance">Learn more below</a>.</p>
          </div>

        </div> <!-- /.wrapper-->

      </section> <!-- /#local -->
      <section id="mortgage-insurance" class="l-bump sans">
          <h3>Mortgage Insurance: What you need to know</h3>

          <p><strong>Mortgage insurance helps you get a loan you wouldn’t otherwise be able to.</strong> If you can’t afford a 20 percent down payment, you will likely have to pay for mortgage insurance. You may choose to get a conventional loan with private mortgage insurance (PMI), or an FHA, VA, or USDA loan.</p>
          <p><strong>Mortgage insurance usually adds to your costs.</strong> Depending on the loan type, you will pay monthly mortgage insurance premiums, an upfront mortgage insurance fee, or both. Make sure to look at the total cost of interest rate, mortgage insurance, and fees.</p>
          <p><strong>Mortgage insurance protects the lender if you fall behind on your payments. It does not protect you.</strong> Your credit score will suffer and you may face foreclosure if you don’t pay your mortgage on time.</p>
          <p><a href="http://www.consumerfinance.gov/askcfpb/1953/what-is-mortgage-insurance-and-how-does-it-work.html">Learn more about mortgage insurance</a>.</p>
      </section>
    </section> <!-- /content_main -->


    <aside class="content_sidebar sans">
        <header class="tabbed-header">
        <h3 class="subhead tabbed-heading">Related Links</h3>
      </header>

      <div class="aside-chunk">
        <h4>Conventional</h4>

        <p>Majority of loans</p>
        <p>Typically cost less than FHA loans but can be harder to get</p>
        <p><a class="go-link" href="/loan-options/conventional-loans/">Get all the details</a></p>
      </div>

      <div class="aside-chunk">
        <h4>FHA</h4>

        <p>Low down payment</p>
        <p>Available to those with low credit score</p>
        <p><a class="go-link" href="/loan-options/FHA-loans/">Get all the details</a></p>
      </div>

      <header class="tabbed-header">
        <h3 class="subhead tabbed-heading">Ask CFPB</h3>
      </header>

      <div class="aside-chunk">
        <ul class="no-bullet">
          <li><a href="http://www.consumerfinance.gov/askcfpb/146/what-is-a-good-faith-estimate-what-is-a-gfe.html">What is a Good Faith Estimate?</a></li>
          <li><a href="http://www.consumerfinance.gov/askcfpb/294/im-in-the-military-active-guard-reserve-or-a-veteran-and-im-considering-buying-a-home-how-do-i-know-if-im-eligible-for-a-va-guaranteed-loan.html">How do I know if I'm eligible for a VA guaranteed loan?</a></li>
        </ul>
      </div>
    </aside>
  </div>
</main>

{% endblock %}

