{% extends "base.html" %}

{% block title %}Owning a Home: Loan Types{% endblock title %}

{% block content %}

<div class="wrap content-area">
  <div class="wrapper">

  <section class="main-content col-9" role="main">

    {% include "loan_types_subpage_heading.html" %}

    <section class="loan-program" id="conventional">
      <h4 class="subheading">Conventional loan</h4>

      <p>“Conventional” just means that the loan is not part of a specific government program. Conventional loans typically have lower costs than FHA loans but stricter standards for approval. There are several types of conventional loans:</p>

      <div class="wrapper">
        <div class="col-4">
          <h5 class="h5">Conforming</h5>
          <ul class="standard-list loan-list">
            <li><strong>The loan amount must be less than $417k.</strong></li>
            <li>If your down payment is less than 20 percent, you will probably need to pay for private mortgage insurance.</li>
          </ul>
        </div>

        <div class="col-4">
          <h5 class="h5">Agency Jumbo</h5>
          <ul class="standard-list loan-list">
            <li>An extension of the conforming program for <strong>loan amounts higher than $417k.</strong></li>
            <li>Only available in certain counties.</li>
            <li>The maximum loan amount varies by county.</li>
          </ul>
        </div>

        <div class="col-4">
          <h5 class="h5">Nonconforming Jumbo</h5>
          <ul class="standard-list loan-list">
            <li>For loan amounts greater than the Agency Jumbo limit, this is the only option.</li>
            <li>Eligibility rules vary from lender to lender, but you usually must have good credit and a high down payment.</li>
          </ul>
        </div>
      </div> <!-- /.wrapper -->

      <div class="mega-callout">
        <h5 class="callout-mid-heading"><span class="cf-icon cf-icon-error-round alert-warning icon-outdent"></span> Shop Carefully.</h5>
        <p>Most conventional loans will fall into one of these three categories, but lenders are not required to stick to them. Shop carefully and ask lots of questions if you are considering a conventional mortgage that does not fit into one of these categories.</p>

        <h5 class="callout-mid-heading">Alternative Mortgages.</h5>
        <p>Alternative mortgages – especially those marketed to people with lower credit scores – are more likely to contain risky features and have high rates. An FHA loan might be a better option if you have a credit score in the mid 600s or below. Make sure to consult with multiple lenders and get quotes for FHA loans as well so you can compare costs. And never make a final decision before getting your official <a href="http://www.consumerfinance.gov/askcfpb/" id="ask-conventional-good-faith">Good Faith Estimates</a>.</p>

        <h5>Mortgage Insurance.</h5>
        <p>Pay attention to it!</p>

      </div> <!-- /.callout -->
    </section> <!-- /#conventional -->

  </section> <!-- /.main-content -->
  </div> <!-- /.wrapper -->
</div><!--  /.wrap -->
{% endblock %}

